In [1]:
import pandas as pd

In [8]:
glide_events_df = pd.read_csv('/home/evangelos/src/disaster-impact/data/glide/glide_data_combined_all.csv')
print(glide_events_df.head())
#print(glide_events_df.columns)

         GLIDE_number             Event             Country       Date_  \
0  TC-2024-000219-LKA  Tropical Cyclone           Sri Lanka  2024/11/23
1  FL-2024-000218-MYS             Flood            Malaysia  2024/11/25
2  FL-2024-000217-THA             Flood            Thailand  2024/11/26
3  FL-2024-000216-DOM             Flood  Dominican Republic  2024/11/14
4  FL-2024-000215-CRI             Flood          Costa Rica   2024/11/7

  Event_Code Glide_Serial Country_Code  Year  Month  Day  ... Duration  \
0         TC  2024-000219          LKA  2024     11   23  ...      5.0
1         FL  2024-000218          MYS  2024     11   25  ...    120.0
2         FL  2024-000217          THA  2024     11   26  ...      NaN
3         FL  2024-000216          DOM  2024     11   14  ...      NaN
4         FL  2024-000215          CRI  2024     11    7  ...      NaN

  Magnitude                                             Source  \
0       NaN  Sri Lanka Red Cross Society and Sri Lanka's Di...
1       NaN  Malaysian Red Crescent Society, Official Stati...
2       NaN                                         AHA Centre
3       NaN                                               IFRC
4       NaN                                               IFRC

                                            Comments   Latitude   Longitude  \
0  The deep depression in the Bay of Bengal condi...   8.311352   80.403651
1  The Northeast Monsoon (MTL) began in early Nov...   5.093634  102.989615
2  Continuous heavy rains brought by the northeas...   6.202025  101.252379
3  As of 14 November, rainfall models predict 60-...  18.735693  -70.162651
4  On 7 November 2024, the National Meteorologica...   9.748917  -83.753428

   Id  Id_Source     Created     Updated
0 NaN        NaN  2024-12-04  2024-12-04
1 NaN        NaN  2024-12-01  2024-12-01
2 NaN        NaN  2024-11-29  2024-11-29
3 NaN        NaN  2024-11-25  2024-11-25
4 NaN        NaN  2024-11-22  2024-11-22

[5 rows x 22 columns]

In [3]:
gdacs_events_df = pd.read_csv('/home/evangelos/src/disaster-impact/data/gdacs_all_types_yearly_v2_fast/combined_gdacs_data.csv')
#print(gdacs_events_df.head())
print(gdacs_events_df.columns)

Index(['event_id', 'event_type', 'event_name', 'from_date', 'to_date',
       'alert_level', 'countries', 'population', 'severity', 'alert_score',
       'year'],
      dtype='object')

In [4]:
adam_events_df = pd.read_csv('/home/evangelos/src/disaster-impact/data/adam_data/adam_eq_buffers.csv')
#print(adam_events_df.head())
print(adam_events_df.columns)

Index(['FID', 'uid', 'radius_km', 'population', 'created_at', 'Shape__Are',
       'Shape__Len', 'Shape__Area', 'Shape__Length', 'x', 'y'],
      dtype='object')

In [5]:
cerf_events_df = pd.read_csv('/home/evangelos/src/disaster-impact/data/cerf/cerf_emergency_data_dynamic_web_scrape.csv')
print(cerf_events_df.columns)

Index(['link_id', 'allocation_code', 'allocation', 'emergency_type', 'agency',
       'country', 'project_code', 'project_description', 'window', 'sector',
       'approved_amount', 'approval_date', 'disbursement_date',
       'groups_targeted', 'number_of_people_targeted', 'implementation_dates'],
      dtype='object')

In [6]:
disaster_charter_events_df = pd.read_csv('/home/evangelos/src/disaster-impact/data/disaster-charter/charter_activations_web_scrape_2000_2024.csv')
print(disaster_charter_events_df.columns)

Index(['Year', 'Month', 'Date', 'Disaster', 'Formatted Date', 'Details Link',
       'Type of Event', 'Location of Event', 'Date of Activation',
       'Time of Activation', 'Timezone', 'Charter Requestor', 'Activation ID',
       'Project Management', 'Value Adding'],
      dtype='object')

In [ ]:
import pandas as pd
data = pd.read_parquet('/home/evangelos/src/disaster-impact/data/adam_data/combined_adam_data.parquet')
print(data.head())

In [ ]:
import geopandas as gpd

geoparquet_gpd = gpd.read_parquet('/home/evangelos/src/disaster-impact/data/adam_data/combined_adam_data.parquet')
print(geoparquet_gpd.head())

In [7]:
print(glide_events_df.columns)
print(gdacs_events_df.columns)
print(adam_events_df.columns)
print(cerf_events_df.columns)
print(disaster_charter_events_df.columns)

Index(['GLIDE_number', 'Event', 'Country', 'Date_', 'Event_Code',
       'Glide_Serial', 'Country_Code', 'Year', 'Month', 'Day', 'Time',
       'Location', 'Duration', 'Magnitude', 'Source', 'Comments', 'Latitude',
       'Longitude', 'Id', 'Id_Source', 'Created', 'Updated'],
      dtype='object')
Index(['event_id', 'event_type', 'event_name', 'from_date', 'to_date',
       'alert_level', 'countries', 'population', 'severity', 'alert_score',
       'year'],
      dtype='object')
Index(['FID', 'uid', 'radius_km', 'population', 'created_at', 'Shape__Are',
       'Shape__Len', 'Shape__Area', 'Shape__Length', 'x', 'y'],
      dtype='object')
Index(['link_id', 'allocation_code', 'allocation', 'emergency_type', 'agency',
       'country', 'project_code', 'project_description', 'window', 'sector',
       'approved_amount', 'approval_date', 'disbursement_date',
       'groups_targeted', 'number_of_people_targeted', 'implementation_dates'],
      dtype='object')
Index(['Year', 'Month', 'Date', 'Disaster', 'Formatted Date', 'Details Link',
       'Type of Event', 'Location of Event', 'Date of Activation',
       'Time of Activation', 'Timezone', 'Charter Requestor', 'Activation ID',
       'Project Management', 'Value Adding'],
      dtype='object')

In [ ]:
import pandas as pd
import numpy as np

from data_consolidation.dictionary import (
    STANDARD_COLUMNS, GLIDE_MAPPING, GDACS_MAPPING, ADAM_MAPPING,
    CERF_MAPPING, DISASTER_CHARTER_MAPPING
) 

glide_events_df
gdacs_events_df 
adam_events_df 
cerf_events_df 
disaster_charter_events_df

In [12]:
def check_mapping(df, mapping, dataset_name):
    print(f"\nChecking mappings for {dataset_name} dataset:")
    for standard_col, original_col in mapping.items():
        if original_col:
            if original_col in df.columns:
                print(f"✅ Standard column '{standard_col}' is correctly mapped to '{original_col}' in {dataset_name} dataframe.")
            else:
                print(f"❌ Standard column '{standard_col}' is mapped to '{original_col}' which does NOT exist in {dataset_name} dataframe.")
        else:
            print(f"⚠️  Standard column '{standard_col}' is not mapped in {dataset_name} (False).")

In [13]:

check_mapping(glide_events_df, GLIDE_MAPPING, 'GLIDE')

check_mapping(gdacs_events_df, GDACS_MAPPING, 'GDACS')

check_mapping(adam_events_df, ADAM_MAPPING, 'ADAM')

check_mapping(cerf_events_df, CERF_MAPPING, 'CERF')


check_mapping(disaster_charter_events_df, DISASTER_CHARTER_MAPPING, 'Disaster Charter Activation')

Checking mappings for GLIDE dataset:
✅ Standard column 'Event_ID' is correctly mapped to 'GLIDE_number' in GLIDE dataframe.
✅ Standard column 'Event_Name' is correctly mapped to 'Event' in GLIDE dataframe.
✅ Standard column 'Event_Type' is correctly mapped to 'Event_Code' in GLIDE dataframe.
✅ Standard column 'Country' is correctly mapped to 'Country' in GLIDE dataframe.
✅ Standard column 'Country_Code' is correctly mapped to 'Country_Code' in GLIDE dataframe.
✅ Standard column 'Location' is correctly mapped to 'Location' in GLIDE dataframe.
✅ Standard column 'Latitude' is correctly mapped to 'Latitude' in GLIDE dataframe.
✅ Standard column 'Longitude' is correctly mapped to 'Longitude' in GLIDE dataframe.
✅ Standard column 'Date' is correctly mapped to 'Date_' in GLIDE dataframe.
✅ Standard column 'Year' is correctly mapped to 'Year' in GLIDE dataframe.
✅ Standard column 'Month' is correctly mapped to 'Month' in GLIDE dataframe.
✅ Standard column 'Day' is correctly mapped to 'Day' in GLIDE dataframe.
✅ Standard column 'Time' is correctly mapped to 'Time' in GLIDE dataframe.
✅ Standard column 'Severity' is correctly mapped to 'Magnitude' in GLIDE dataframe.
⚠️  Standard column 'Population_Affected' is not mapped in GLIDE (False).
⚠️  Standard column 'Alert_Level' is not mapped in GLIDE (False).
✅ Standard column 'Source' is correctly mapped to 'Source' in GLIDE dataframe.
✅ Standard column 'Comments' is correctly mapped to 'Comments' in GLIDE dataframe.

Checking mappings for GDACS dataset:
✅ Standard column 'Event_ID' is correctly mapped to 'event_id' in GDACS dataframe.
✅ Standard column 'Event_Name' is correctly mapped to 'event_name' in GDACS dataframe.
✅ Standard column 'Event_Type' is correctly mapped to 'event_type' in GDACS dataframe.
✅ Standard column 'Country' is correctly mapped to 'countries' in GDACS dataframe.
⚠️  Standard column 'Country_Code' is not mapped in GDACS (False).
⚠️  Standard column 'Location' is not mapped in GDACS (False).
⚠️  Standard column 'Latitude' is not mapped in GDACS (False).
⚠️  Standard column 'Longitude' is not mapped in GDACS (False).
✅ Standard column 'Date' is correctly mapped to 'from_date' in GDACS dataframe.
✅ Standard column 'Year' is correctly mapped to 'year' in GDACS dataframe.
⚠️  Standard column 'Month' is not mapped in GDACS (False).
⚠️  Standard column 'Day' is not mapped in GDACS (False).
⚠️  Standard column 'Time' is not mapped in GDACS (False).
✅ Standard column 'Severity' is correctly mapped to 'severity' in GDACS dataframe.
✅ Standard column 'Population_Affected' is correctly mapped to 'population' in GDACS dataframe.
✅ Standard column 'Alert_Level' is correctly mapped to 'alert_level' in GDACS dataframe.
⚠️  Standard column 'Source' is not mapped in GDACS (False).
⚠️  Standard column 'Comments' is not mapped in GDACS (False).

Checking mappings for ADAM dataset:
✅ Standard column 'Event_ID' is correctly mapped to 'uid' in ADAM dataframe.
⚠️  Standard column 'Event_Name' is not mapped in ADAM (False).
⚠️  Standard column 'Event_Type' is not mapped in ADAM (False).
⚠️  Standard column 'Country' is not mapped in ADAM (False).
⚠️  Standard column 'Country_Code' is not mapped in ADAM (False).
⚠️  Standard column 'Location' is not mapped in ADAM (False).
✅ Standard column 'Latitude' is correctly mapped to 'y' in ADAM dataframe.
✅ Standard column 'Longitude' is correctly mapped to 'x' in ADAM dataframe.
✅ Standard column 'Date' is correctly mapped to 'created_at' in ADAM dataframe.
⚠️  Standard column 'Year' is not mapped in ADAM (False).
⚠️  Standard column 'Month' is not mapped in ADAM (False).
⚠️  Standard column 'Day' is not mapped in ADAM (False).
⚠️  Standard column 'Time' is not mapped in ADAM (False).
⚠️  Standard column 'Severity' is not mapped in ADAM (False).
✅ Standard column 'Population_Affected' is correctly mapped to 'population' in ADAM dataframe.
⚠️  Standard column 'Alert_Level' is not mapped in ADAM (False).
⚠️  Standard column 'Source' is not mapped in ADAM (False).
⚠️  Standard column 'Comments' is not mapped in ADAM (False).

Checking mappings for CERF dataset:
✅ Standard column 'Event_ID' is correctly mapped to 'allocation_code' in CERF dataframe.
⚠️  Standard column 'Event_Name' is not mapped in CERF (False).
✅ Standard column 'Event_Type' is correctly mapped to 'emergency_type' in CERF dataframe.
✅ Standard column 'Country' is correctly mapped to 'country' in CERF dataframe.
⚠️  Standard column 'Country_Code' is not mapped in CERF (False).
⚠️  Standard column 'Location' is not mapped in CERF (False).
⚠️  Standard column 'Latitude' is not mapped in CERF (False).
⚠️  Standard column 'Longitude' is not mapped in CERF (False).
✅ Standard column 'Date' is correctly mapped to 'approval_date' in CERF dataframe.
⚠️  Standard column 'Year' is not mapped in CERF (False).
⚠️  Standard column 'Month' is not mapped in CERF (False).
⚠️  Standard column 'Day' is not mapped in CERF (False).
⚠️  Standard column 'Time' is not mapped in CERF (False).
⚠️  Standard column 'Severity' is not mapped in CERF (False).
✅ Standard column 'Population_Affected' is correctly mapped to 'number_of_people_targeted' in CERF dataframe.
⚠️  Standard column 'Alert_Level' is not mapped in CERF (False).
⚠️  Standard column 'Source' is not mapped in CERF (False).
✅ Standard column 'Comments' is correctly mapped to 'project_description' in CERF dataframe.

Checking mappings for Disaster Charter Activation dataset:
✅ Standard column 'Event_ID' is correctly mapped to 'Activation ID' in Disaster Charter Activation dataframe.
✅ Standard column 'Event_Name' is correctly mapped to 'Disaster' in Disaster Charter Activation dataframe.
✅ Standard column 'Event_Type' is correctly mapped to 'Type of Event' in Disaster Charter Activation dataframe.
✅ Standard column 'Country' is correctly mapped to 'Location of Event' in Disaster Charter Activation dataframe.
⚠️  Standard column 'Country_Code' is not mapped in Disaster Charter Activation (False).
✅ Standard column 'Location' is correctly mapped to 'Location of Event' in Disaster Charter Activation dataframe.
⚠️  Standard column 'Latitude' is not mapped in Disaster Charter Activation (False).
⚠️  Standard column 'Longitude' is not mapped in Disaster Charter Activation (False).
✅ Standard column 'Date' is correctly mapped to 'Date of Activation' in Disaster Charter Activation dataframe.
✅ Standard column 'Year' is correctly mapped to 'Year' in Disaster Charter Activation dataframe.
✅ Standard column 'Month' is correctly mapped to 'Month' in Disaster Charter Activation dataframe.
⚠️  Standard column 'Day' is not mapped in Disaster Charter Activation (False).
✅ Standard column 'Time' is correctly mapped to 'Time of Activation' in Disaster Charter Activation dataframe.
⚠️  Standard column 'Severity' is not mapped in Disaster Charter Activation (False).
⚠️  Standard column 'Population_Affected' is not mapped in Disaster Charter Activation (False).
⚠️  Standard column 'Alert_Level' is not mapped in Disaster Charter Activation (False).
⚠️  Standard column 'Source' is not mapped in Disaster Charter Activation (False).
⚠️  Standard column 'Comments' is not mapped in Disaster Charter Activation (False).

In [ ]:
df_monty = pd.read_csv('/home/evangelos/src/disaster-impact/data/monty/event_Level_cleaned.csv')

In [15]:
df_monty.columns

Index(['event_ID', 'ev_name', 'ext_ID', 'ext_ID_db', 'ext_ID_org', 'ev_sdate',
       'ev_fdate', 'gen_location', 'ev_ISO3s', 'all_hazs_Ab', 'all_hazs_spec'],
      dtype='object')

In [ ]:
df_monty.head()

,event_ID,ev_name,ext_ID,ext_ID_db,ext_ID_org,ev_sdate,ev_fdate,gen_location,ev_ISO3s,all_hazs_Ab,all_hazs_spec
0,monty_031f0987-9d17-4007-9665-85b85448af82,sequia,ARG-7838-a,Desinventar,UNDRR,2007-08-20,2067-08-05,Cuenca Desaguadero-Salado- Chadileuvu (W de la...,ARG,DR,MH0035
1,monty_e6567a9d-2896-4508-b525-ddfcb79e0891,Vietnam - Heat Wave (EAP2021VN01),MDRVN022,GO-DREF,IFRC,2021-04-09,2026-04-30,Vietnam - Heat Wave (EAP2021VN01),VNM,HW,MH0047
2,monty_79e9ce45-3223-4b22-abb7-b99e997ee0a6,fire,KEN-28047,Desinventar,UNDRR,2021-05-29,2027-10-25,"Lindi - kibera slum,Butiye loc.,Sibanga Market",KEN,WF,EN0013
3,monty_07618a9d-2c26-4af3-a5bc-51acb709496e,windstorm,KEN-28041,Desinventar,UNDRR,2021-05-29,2024-02-23,milo sub location,KEN,VW,MH0060
4,monty_92707914-9d5f-4d28-9bd9-17fb97bc33a9,fire,KEN-28094,Desinventar,UNDRR,2021-06-01,2027-01-16,Mwonge,KEN,WF,EN0013

In [21]:

if 'ext_ID' in df_monty.columns:
    df_monty['ext_ID'] = df_monty['ext_ID'].astype(str)
    df_monty_filtered = df_monty[df_monty['ext_ID'].str.contains('AC-2000-000871-BGD')]
    print(df_monty_filtered)
else:
    print("Column 'ext_ID' does not exist in the dataframe.")

Empty DataFrame
Columns: [event_ID, ev_name, ext_ID, ext_ID_db, ext_ID_org, ev_sdate, ev_fdate, gen_location, ev_ISO3s, all_hazs_Ab, all_hazs_spec]
Index: []

In [22]:
if 'Glide' in df_monty['ext_ID_db'].values:
    print("Glide exists in the ext_ID_db column.")
else:
    print("Glide does not exist in the ext_ID_db column.")

Glide does not exist in the ext_ID_db column.

In [23]:
df_monty = pd.read_csv('/home/evangelos/src/disaster-impact/data/monty/hazard_Data_cleaned.csv')

In [24]:
df_monty.columns

Index(['event_ID', 'haz_sub_ID', 'ext_ID', 'ext_ID_db', 'ext_ID_org',
       'haz_src_db', 'haz_src_URL', 'haz_src_org', 'haz_maxvalue',
       'haz_maxunits', 'haz_est_type', 'all_hazs_Ab', 'all_hazs_spec',
       'haz_sdate', 'haz_fdate', 'haz_credate', 'haz_moddate', 'haz_spat_ID',
       'haz_spat_fileloc', 'haz_ISO3s', 'haz_spat_covcode',
       'haz_spat_resunits', 'haz_spat_crs', 'haz_spat_srcdb', 'haz_spat_URL',
       'haz_spat_srcorg'],
      dtype='object')

In [25]:
df_monty.head()

,event_ID,haz_sub_ID,ext_ID,ext_ID_db,ext_ID_org,haz_src_db,haz_src_URL,haz_src_org,haz_maxvalue,haz_maxunits,...,haz_moddate,haz_spat_ID,haz_spat_fileloc,haz_ISO3s,haz_spat_covcode,haz_spat_resunits,haz_spat_crs,haz_spat_srcdb,haz_spat_URL,haz_spat_srcorg
0,monty_10f8b8e8-e94c-45e8-a975-ab2c8f13d6bc,haz_ea1862f8-0f1b-4183-bce6-a77a51fb88f6,DR-2022-000215-AFG,GLIDE,ADRC,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC,263840.0,unitskm2,...,2024-07-04,spathaz_e5d92927-537c-4778-bb8a-06c0c2eb8eb2,https://www.gdacs.org/gdacsapi/api/polygons/ge...,UZB,spat_polygon,spatresother,EPSG:4326,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC
1,monty_5fcc6b2d-14de-41ae-a1cc-f18ad083f00b,haz_d3a906dd-dd4e-4dc2-a42f-e547f00474ec,DR-2023-000204-BRA,GLIDE,ADRC,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC,1509735.0,unitskm2,...,2024-08-13,spathaz_b5f72932-9606-4d9b-b321-a434beb82c09,https://www.gdacs.org/gdacsapi/api/polygons/ge...,VEN,spat_polygon,spatresother,EPSG:4326,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC
2,monty_bc21dbcb-55fe-44bb-ae87-5dca7960e0e4,haz_f6df9559-037f-4d27-84f5-1a55a0320c91,DR-2022-000390-BLZ,GLIDE,ADRC,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC,40748.0,unitskm2,...,2024-04-18,spathaz_6b4cb2ec-2018-4b26-a1d3-01fd178d43eb,https://www.gdacs.org/gdacsapi/api/polygons/ge...,USA,spat_polygon,spatresother,EPSG:4326,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC
3,monty_5e87c986-a087-4d78-89f2-9452702b4370,haz_64f00bcb-745b-45cb-af6d-7f84cfe5f8a0,1016298,GDACS,EC-JRC,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC,22670.0,unitskm2,...,2024-03-13,spathaz_ad2dc492-3d49-437a-9a07-01eb0d294394,https://www.gdacs.org/gdacsapi/api/polygons/ge...,CAN,spat_polygon,spatresother,EPSG:4326,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC
4,monty_a487b140-3d94-4388-a7a2-25c2557d45af,haz_0e4eb121-6095-4750-bf0e-eaa06b6d330f,1016209,GDACS,EC-JRC,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC,23022.0,unitskm2,...,2024-01-18,spathaz_82278fce-4fbe-423b-b31f-d82c449e7a59,https://www.gdacs.org/gdacsapi/api/polygons/ge...,THA,spat_polygon,spatresother,EPSG:4326,GDACS,https://www.gdacs.org/gdacsapi/api/polygons/ge...,EC-JRC

In [33]:

if 'ext_ID' in df_monty.columns:
    df_monty['ext_ID'] = df_monty['ext_ID'].astype(str)
    df_monty_filtered = df_monty[df_monty['ext_ID'].str.contains('AC-2000-000871-BGD|AC-2000-000536-BGD|TC-2008-000261-KHM|TC-2010-000236-KHM|TC-2006-000215-KHM|TC-2017-000125-MSR')]
    print(df_monty_filtered)
else:
    print("Column 'ext_ID' does not exist in the dataframe.")

Empty DataFrame
Columns: [event_ID, haz_sub_ID, ext_ID, ext_ID_db, ext_ID_org, haz_src_db, haz_src_URL, haz_src_org, haz_maxvalue, haz_maxunits, haz_est_type, all_hazs_Ab, all_hazs_spec, haz_sdate, haz_fdate, haz_credate, haz_moddate, haz_spat_ID, haz_spat_fileloc, haz_ISO3s, haz_spat_covcode, haz_spat_resunits, haz_spat_crs, haz_spat_srcdb, haz_spat_URL, haz_spat_srcorg]
Index: []

[0 rows x 26 columns]

Exploring monty data

In [34]:

if 'ext_ID' in df_monty.columns:
    df_monty['ext_ID'] = df_monty['ext_ID'].astype(str)
    df_monty_filtered = df_monty[df_monty['ext_ID'].str.contains('TC-2017-000125-MSR')]
    print(df_monty_filtered)
else:
    print("Column 'ext_ID' does not exist in the dataframe.")

Empty DataFrame
Columns: [event_ID, haz_sub_ID, ext_ID, ext_ID_db, ext_ID_org, haz_src_db, haz_src_URL, haz_src_org, haz_maxvalue, haz_maxunits, haz_est_type, all_hazs_Ab, all_hazs_spec, haz_sdate, haz_fdate, haz_credate, haz_moddate, haz_spat_ID, haz_spat_fileloc, haz_ISO3s, haz_spat_covcode, haz_spat_resunits, haz_spat_crs, haz_spat_srcdb, haz_spat_URL, haz_spat_srcorg]
Index: []

[0 rows x 26 columns]

In [3]:
import pandas as pd

In [3]:
df_glide = pd.read_csv('/home/evangelos/src/disaster-impact/data/glide/glide_data_combined_all.csv')

In [4]:
df_glide.columns

Index(['GLIDE_number', 'Event', 'Country', 'Date_', 'Event_Code',
       'Glide_Serial', 'Country_Code', 'Year', 'Month', 'Day', 'Time',
       'Location', 'Duration', 'Magnitude', 'Source', 'Comments', 'Latitude',
       'Longitude', 'Id', 'Id_Source', 'Created', 'Updated'],
      dtype='object')

In [6]:
df_glide.head().iloc[1]

GLIDE_number                                   FL-2024-000218-MYS
Event                                                       Flood
Country                                                  Malaysia
Date_                                                  2024/11/25
Event_Code                                                     FL
Glide_Serial                                          2024-000218
Country_Code                                                  MYS
Year                                                         2024
Month                                                          11
Day                                                            25
Time                                                          NaN
Location        Kelantan, Terengganu, Kedah, Perlis, Johor, an...
Duration                                                    120.0
Magnitude                                                     NaN
Source          Malaysian Red Crescent Society, Official Stati...
Comments        The Northeast Monsoon (MTL) began in early Nov...
Latitude                                                 5.093634
Longitude                                              102.989615
Id                                                            NaN
Id_Source                                                     NaN
Created                                                2024-12-01
Updated                                                2024-12-01
Name: 1, dtype: object

In [11]:
df_glide.iloc[21]

GLIDE_number                                   TC-2024-000200-CHN
Event                                            Tropical Cyclone
Country                                  China, People's Republic
Date_                                                  2024/10/25
Event_Code                                                     TC
Glide_Serial                                          2024-000200
Country_Code                                                  CHN
Year                                                         2024
Month                                                          10
Day                                                            25
Time                                                          NaN
Location                               Philippines, Taiwan, China
Duration                                                      8.0
Magnitude                                                       0
Source                                                      GDACS
Comments        GDACS - Tropical Cyclone KONG-REY-24 Medium hu...
Latitude                                                     32.2
Longitude                                                   126.1
Id                                                            NaN
Id_Source                                                     NaN
Created                                                2024-10-30
Updated                                                2024-11-05
Name: 21, dtype: object

In [13]:
df_glide.iloc[21].apply(type)

GLIDE_number              <class 'str'>
Event                     <class 'str'>
Country                   <class 'str'>
Date_                     <class 'str'>
Event_Code                <class 'str'>
Glide_Serial              <class 'str'>
Country_Code              <class 'str'>
Year              <class 'numpy.int64'>
Month             <class 'numpy.int64'>
Day               <class 'numpy.int64'>
Time                    <class 'float'>
Location                  <class 'str'>
Duration        <class 'numpy.float64'>
Magnitude                 <class 'str'>
Source                    <class 'str'>
Comments                  <class 'str'>
Latitude        <class 'numpy.float64'>
Longitude       <class 'numpy.float64'>
Id              <class 'numpy.float64'>
Id_Source       <class 'numpy.float64'>
Created                   <class 'str'>
Updated                   <class 'str'>
Name: 21, dtype: object

In [16]:
df_glide_standard = pd.read_csv('/home/evangelos/src/disaster-impact/data_mid/glide/glide_standardized_phase1.csv')

In [17]:
df_glide_standard.columns

Index(['Event_ID', 'Source_Event_IDs', 'Event_Name', 'Event_Type', 'Country',
       'Country_Code', 'Location', 'Latitude', 'Longitude', 'Date', 'Year',
       'Month', 'Day', 'Time', 'Severity', 'Population_Affected', 'Fatalities',
       'People_Displaced', 'Financial_Loss', 'Alert_Level', 'Source',
       'Comments', 'External_Links'],
      dtype='object')

In [18]:
df_glide_standard.head().iloc[1]

Event_ID                                                             NaN
Source_Event_IDs                                  ['FL-2024-000218-MYS']
Event_Name                                                         Flood
Event_Type                                                            FL
Country                                                         Malaysia
Country_Code                                                         MYS
Location               ['Kelantan, Terengganu, Kedah, Perlis, Johor, ...
Latitude                                                     [5.0936342]
Longitude                                                   [102.989615]
Date                                                          2024/11/25
Year                                                                2024
Month                                                                 11
Day                                                                   25
Time                                                                 NaN
Severity                                                             NaN
Population_Affected                                                  NaN
Fatalities                                                           NaN
People_Displaced                                                     NaN
Financial_Loss                                                       NaN
Alert_Level                                                          NaN
Source                 ['Malaysian Red Crescent Society, Official Sta...
Comments               ['The Northeast Monsoon (MTL) began in early N...
External_Links                                                        []
Name: 1, dtype: object

In [19]:
df_glide_consolidation = pd.read_csv('/home/evangelos/src/disaster-impact/data_out/glide/glide_consolidated.csv')

In [20]:
df_glide_consolidation.head().iloc[1]

Event_ID                 354612eaf018a14d2e53c6b92eef2d13
Source_Event_IDs                   ['AC-2001-000666-AFG']
Event_Name                                 Tech. Disaster
Event_Type                                             AC
Country                                       Afghanistan
Country_Code                                          AFG
Location               ['Near Talogan (Takhar province)']
Latitude                                     [36.7704489]
Longitude                                    [69.5302203]
Date                                            2001/12/8
Year                                                 2001
Month                                                  12
Day                                                     8
Time                                                  NaN
Severity                                              NaN
Population_Affected                                   NaN
Fatalities                                            NaN
People_Displaced                                      NaN
Financial_Loss                                        NaN
Alert_Level                                           NaN
Source                                                 []
Comments                           ['{Helicopter} (Air)']
External_Links                                         []
Name: 1, dtype: object

In [22]:
df_glide_consolidation.iloc[7558]

Event_ID                                ebe326b0b5c5b763e6a7192f9feaccba
Source_Event_IDs            ['TC-2017-000125-KNA', 'TC-2017-000132-KNA']
Event_Name                                              Tropical Cyclone
Event_Type                                                            TC
Country                                                 St Kitts & Nevis
Country_Code                                                         KNA
Location                                                              []
Latitude                                                     [17.357822]
Longitude                                                   [-62.782998]
Date                                                            2017/9/7
Year                                                                2017
Month                                                                  9
Day                                                                    7
Time                                                                 NaN
Severity                                                             NaN
Population_Affected                                                  NaN
Fatalities                                                           NaN
People_Displaced                                                     NaN
Financial_Loss                                                       NaN
Alert_Level                                                          NaN
Source                                                         ['CDEMA']
Comments               ['With maximum sustained winds near 185 mph, I...
External_Links                                                        []
Name: 7558, dtype: object

In [23]:
df_gdacs = pd.read_csv('/home/evangelos/src/disaster-impact/data/gdacs_all_types_yearly_v2_fast/combined_gdacs_data.csv')

In [24]:
df_gdacs.columns

Index(['event_id', 'event_type', 'event_name', 'from_date', 'to_date',
       'alert_level', 'countries', 'population', 'severity', 'alert_score',
       'year'],
      dtype='object')

In [28]:
df_gdacs.iloc[150]

event_id                      34686
event_type                       EQ
event_name     Earthquake in Mexico
from_date       2008-02-13T22:23:37
to_date         2008-02-13T22:23:37
alert_level                   Green
countries              Mexico (MEX)
population                      NaN
severity                        4.8
alert_score                       1
year                           2008
Name: 150, dtype: object

In [26]:
df_gdacs.head().iloc[1].apply(type)

event_id         <class 'numpy.int64'>
event_type               <class 'str'>
event_name               <class 'str'>
from_date                <class 'str'>
to_date                  <class 'str'>
alert_level              <class 'str'>
countries              <class 'float'>
population     <class 'numpy.float64'>
severity       <class 'numpy.float64'>
alert_score      <class 'numpy.int64'>
year             <class 'numpy.int64'>
Name: 1, dtype: object

In [43]:
df_gdacs_standard = pd.read_csv('/home/evangelos/src/disaster-impact/data_mid/gdacs/gdacs_standardized_phase1.csv')

In [44]:
df_gdacs_standard.columns

Index(['Event_ID', 'Source_Event_IDs', 'Event_Name', 'Event_Type', 'Country',
       'Country_Code', 'Location', 'Latitude', 'Longitude', 'Date', 'Year',
       'Month', 'Day', 'Time', 'Severity', 'Population_Affected', 'Fatalities',
       'People_Displaced', 'Financial_Loss', 'Alert_Level', 'Source',
       'Comments', 'External_Links'],
      dtype='object')

In [45]:
df_gdacs_standard.head().iloc[4]

Event_ID                                       NaN
Source_Event_IDs                         ["33722"]
Event_Name             Earthquake in United States
Event_Type                                      EQ
Country                              United States
Country_Code                                   USA
Location                                        []
Latitude                                        []
Longitude                                       []
Date                                    2008-01-19
Year                                          2008
Month                                            1
Day                                             19
Time                                      17:18:46
Severity                                       4.4
Population_Affected                            NaN
Fatalities                                     NaN
People_Displaced                               NaN
Financial_Loss                                 NaN
Alert_Level                                  Green
Source                                          []
Comments                                        []
External_Links                                  []
Name: 4, dtype: object

In [46]:
df_gdacs_standard.iloc[150].apply(type)

Event_ID               <class 'numpy.float64'>
Source_Event_IDs                 <class 'str'>
Event_Name                       <class 'str'>
Event_Type                       <class 'str'>
Country                          <class 'str'>
Country_Code                     <class 'str'>
Location                         <class 'str'>
Latitude                         <class 'str'>
Longitude                        <class 'str'>
Date                             <class 'str'>
Year                     <class 'numpy.int64'>
Month                    <class 'numpy.int64'>
Day                      <class 'numpy.int64'>
Time                             <class 'str'>
Severity               <class 'numpy.float64'>
Population_Affected    <class 'numpy.float64'>
Fatalities             <class 'numpy.float64'>
People_Displaced       <class 'numpy.float64'>
Financial_Loss         <class 'numpy.float64'>
Alert_Level                      <class 'str'>
Source                           <class 'str'>
Comments                         <class 'str'>
External_Links                   <class 'str'>
Name: 150, dtype: object

In [ ]:
df_gdacs_standard.head().iloc[1]

Event_ID                              NaN
Source_Event_IDs                ["33725"]
Event_Name             Earthquake in Iran
Event_Type                             EQ
Country                               NaN
Country_Code                          NaN
Location                               []
Latitude                               []
Longitude                              []
Date                           2008-01-19
Year                                 2008
Month                                   1
Day                                    19
Time                             21:41:33
Severity                              4.4
Population_Affected                   NaN
Fatalities                            NaN
People_Displaced                      NaN
Financial_Loss                        NaN
Alert_Level                         Green
Source                                 []
Comments                               []
External_Links                         []
Name: 1, dtype: object

In [55]:
df_gdacs_standard = pd.read_csv('/home/evangelos/src/disaster-impact/data_mid/gdacs/gdacs_standardized_phase1.csv')

In [56]:
df_gdacs_standard.head().iloc[1]

Event_ID                              NaN
Source_Event_IDs                ["33725"]
Event_Name             Earthquake in Iran
Event_Type                             EQ
Country                              Iran
Country_Code                          NaN
Location                               []
Latitude                               []
Longitude                              []
Date                           2008-01-19
Year                                 2008
Month                                   1
Day                                    19
Time                             21:41:33
Severity                              4.4
Population_Affected                   NaN
Fatalities                            NaN
People_Displaced                      NaN
Financial_Loss                        NaN
Alert_Level                         Green
Source                                 []
Comments                               []
External_Links                         []
Name: 1, dtype: object

In [57]:
df_gdacs_standard.iloc[150].apply(type)

Event_ID               <class 'numpy.float64'>
Source_Event_IDs                 <class 'str'>
Event_Name                       <class 'str'>
Event_Type                       <class 'str'>
Country                          <class 'str'>
Country_Code                     <class 'str'>
Location                         <class 'str'>
Latitude                         <class 'str'>
Longitude                        <class 'str'>
Date                             <class 'str'>
Year                     <class 'numpy.int64'>
Month                    <class 'numpy.int64'>
Day                      <class 'numpy.int64'>
Time                             <class 'str'>
Severity               <class 'numpy.float64'>
Population_Affected    <class 'numpy.float64'>
Fatalities             <class 'numpy.float64'>
People_Displaced       <class 'numpy.float64'>
Financial_Loss         <class 'numpy.float64'>
Alert_Level                      <class 'str'>
Source                           <class 'str'>
Comments                         <class 'str'>
External_Links                   <class 'str'>
Name: 150, dtype: object

In [58]:
df_disaster_charter = pd.read_csv('/home/evangelos/src/disaster-impact/data/disaster-charter/charter_activations_web_scrape_2000_2024.csv')

In [59]:
df_disaster_charter.columns

Index(['Year', 'Month', 'Date', 'Disaster', 'Formatted Date', 'Details Link',
       'Type of Event', 'Location of Event', 'Date of Activation',
       'Time of Activation', 'Timezone', 'Charter Requestor', 'Activation ID',
       'Project Management', 'Value Adding'],
      dtype='object')

In [60]:
df_disaster_charter.head().iloc[1]

Year                                                               2024
Month                                                           October
Date                                                         2024-10-14
Disaster                                             Flood in Sri Lanka
Formatted Date                                                14 Monday
Details Link          https://disasterscharter.org/web/guest/activat...
Type of Event                                                     Flood
Location of Event                                             Sri Lanka
Date of Activation                                           2024-10-12
Time of Activation                                                12:20
Timezone                                                      UTC+05:30
Charter Requestor     Disaster Management Centre on behalf of Disast...
Activation ID                                                     921.0
Project Management    Samanmali Matharaarachchi (Disaster Management...
Value Adding          INPECamila Gonçalves dos Santos (UFRRJ)SERTIT ...
Name: 1, dtype: object

In [61]:
df_disaster_charter.iloc[150].apply(type)

Year                    <class 'numpy.int64'>
Month                           <class 'str'>
Date                            <class 'str'>
Disaster                        <class 'str'>
Formatted Date                  <class 'str'>
Details Link                    <class 'str'>
Type of Event                   <class 'str'>
Location of Event               <class 'str'>
Date of Activation              <class 'str'>
Time of Activation              <class 'str'>
Timezone                        <class 'str'>
Charter Requestor               <class 'str'>
Activation ID         <class 'numpy.float64'>
Project Management              <class 'str'>
Value Adding                  <class 'float'>
Name: 150, dtype: object

In [62]:
df_disaster_charter2 = pd.read_csv('/home/evangelos/src/disaster-impact/data/disaster-charter/disaster_activations_boosted_dec.csv')

In [63]:
df_disaster_charter2.columns

Index(['Year', 'Month', 'Date', 'Disaster', 'Formatted Date', 'Details Link',
       'Type of Event', 'Location of Event', 'Date of Activation',
       'Time of Activation', 'Timezone', 'Charter Requestor', 'Activation ID',
       'Project Management', 'Value Adding'],
      dtype='object')

In [64]:
df_disaster_charter2.head().iloc[1]

Year                                                               2024
Month                                                          December
Date                                                         2024-12-02
Disaster                                             Flood in Sri Lanka
Formatted Date                                                02 Monday
Details Link          https://disasterscharter.org/web/guest/activat...
Type of Event                                                     Flood
Location of Event                                             Sri Lanka
Date of Activation                                           2024-12-02
Time of Activation                                                10:39
Timezone                                                      UTC+07:00
Charter Requestor     UNOSAT on behalf of United Nations Population ...
Activation ID                                                     933.0
Project Management                            Jakrapong Tawala (UNITAR)
Value Adding          SERTIT Rapid Mapping Service (SERTIT Rapid Map...
Name: 1, dtype: object

In [65]:
df_disaster_charter2.iloc[150].apply(type)

Year                    <class 'numpy.int64'>
Month                           <class 'str'>
Date                            <class 'str'>
Disaster                        <class 'str'>
Formatted Date                  <class 'str'>
Details Link                    <class 'str'>
Type of Event                 <class 'float'>
Location of Event               <class 'str'>
Date of Activation              <class 'str'>
Time of Activation              <class 'str'>
Timezone                        <class 'str'>
Charter Requestor               <class 'str'>
Activation ID         <class 'numpy.float64'>
Project Management              <class 'str'>
Value Adding                    <class 'str'>
Name: 150, dtype: object

In [67]:
df_disaster_charter_standard = pd.read_csv('/home/evangelos/src/disaster-impact/data_mid/disaster_charter/disaster_charter_standardized_phase1.csv')

In [68]:
df_disaster_charter_standard.columns

Index(['Event_ID', 'Source_Event_IDs', 'Event_Name', 'Event_Type', 'Country',
       'Country_Code', 'Location', 'Latitude', 'Longitude', 'Date', 'Year',
       'Month', 'Day', 'Time', 'Severity', 'Population_Affected', 'Fatalities',
       'People_Displaced', 'Financial_Loss', 'Alert_Level', 'Source',
       'Comments', 'External_Links'],
      dtype='object')

In [6]:
df_disaster_charter_consolidated = pd.read_csv('/home/evangelos/src/disaster-impact/data_out/disaster_charter/disaster_charter_consolidated.csv')

In [73]:
unique_event_types = df_disaster_charter_consolidated['Event_Type'].unique()
print(unique_event_types)

['Accident' 'Cyclone' 'Dam Failure' 'Earthquake' 'Epidemic' 'Eruption'
 'Fire' 'Flash Flood' 'Flood' 'Ice Jam' 'Landslide' 'Maritime Accident'
 'Ocean storm' 'Ocean storm, Flood' 'Oil Spill' 'Other' 'Snow Event'
 'Technological Disaster' 'Tornado' 'Tropical' 'Tsunami'
 'Volcanic Eruption' 'Wildfire' 'earthquakes' 'landslide']

In [77]:
df_disaster_charter_consolidated.head().iloc[1]

Event_ID                                c4e21fd54682549774f08c2f2e78be88
Source_Event_IDs                                               ['636.0']
Event_Name                           Lost Chilean aircraft in Antarctica
Event_Type                                                      Accident
Country                                                            Chile
Country_Code                                                         CHL
Location                                                       ['Chile']
Latitude                                                              []
Longitude                                                             []
Date                                                          2019-10-12
Year                                                              2019.0
Month                                                               10.0
Day                                                                 12.0
Time                                                               08:30
Severity                                                              []
Population_Affected                                                  NaN
Fatalities                                                           NaN
People_Displaced                                                     NaN
Financial_Loss                                                       NaN
Alert_Level                                                           []
Source                                                                []
Comments                                                              []
External_Links         ['https://disasterscharter.org/web/guest/activ...
Name: 1, dtype: object

In [9]:
df_gdacs_consolidated = pd.read_csv('/home/evangelos/src/disaster-impact/data_out/gdacs/gdacs_consolidated.csv')
df_gdacs_consolidated.head().iloc[1]

Event_ID                     e3a47a70ba67c289eb667c3a7b54e986
Source_Event_IDs                                  ['1012810']
Event_Name             Drought in Afghanistan, Iran, Pakistan
Event_Type                                                 DR
Country                           Afghanistan (AFG), Pakistan
Country_Code                                              AFG
Location                                                   []
Latitude                                                   []
Longitude                                                  []
Date                                               2018-11-21
Year                                                     2018
Month                                                      11
Day                                                        21
Time                                                 00:00:00
Severity                                         ['116622.0']
Population_Affected                                       NaN
Fatalities                                                NaN
People_Displaced                                          NaN
Financial_Loss                                            NaN
Alert_Level                                        ['Orange']
Source                                                     []
Comments                                                   []
External_Links                                             []
Name: 1, dtype: object

In [10]:
df_glide_consolidation = pd.read_csv('/home/evangelos/src/disaster-impact/data_out/glide/glide_consolidated.csv')
df_glide_consolidation.head().iloc[1]

Event_ID                 354612eaf018a14d2e53c6b92eef2d13
Source_Event_IDs                   ['AC-2001-000666-AFG']
Event_Name                                 Tech. Disaster
Event_Type                                             AC
Country                                       Afghanistan
Country_Code                                          AFG
Location               ['Near Talogan (Takhar province)']
Latitude                                     [36.7704489]
Longitude                                    [69.5302203]
Date                                            2001/12/8
Year                                                 2001
Month                                                  12
Day                                                     8
Time                                                  NaN
Severity                                              NaN
Population_Affected                                   NaN
Fatalities                                            NaN
People_Displaced                                      NaN
Financial_Loss                                        NaN
Alert_Level                                           NaN
Source                                                 []
Comments                           ['{Helicopter} (Air)']
External_Links                                         []
Name: 1, dtype: object

In [11]:
df_disaster_charter_consolidated['Event_Type'].unique()

array(['Accident', 'Cyclone', 'Dam Failure', 'Earthquake', 'Epidemic',
       'Eruption', 'Fire', 'Flash Flood', 'Flood', 'Ice Jam', 'Landslide',
       'Maritime Accident', 'Ocean storm', 'Ocean storm, Flood',
       'Oil Spill', 'Other', 'Snow Event', 'Technological Disaster',
       'Tornado', 'Tropical', 'Tsunami', 'Volcanic Eruption', 'Wildfire',
       'earthquakes', 'landslide'], dtype=object)

In [12]:
df_gdacs_consolidated['Event_Type'].unique()

array(['DR', 'EQ', 'FL', 'TC', 'VO', 'WF'], dtype=object)

In [13]:
df_glide_consolidation['Event_Type'].unique()

array(['AC', 'AV', 'CE', 'CW', 'DR', 'EC', 'EP', 'EQ', 'ET', 'FA', 'FF',
       'FL', 'FR', 'HT', 'IN', 'LS', 'MS', 'OT', 'SL', 'SS', 'ST', 'TC',
       'TO', 'TS', 'VO', 'VW', 'WF', 'WV'], dtype=object)

In [16]:
df_glide_consolidation['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Benin', 'Bermuda', 'Bolivia', 'Bosnia-Herzegovina', 'Brazil',
       'Brunei Darussalam', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Canary Islands', 'Central African Republic', 'Chad', 'Chile',
       "China, People's Republic", 'Colombia', 'Comoros',
       'Congo Democratic Republic', 'Congo, Republic', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Denmark', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Estonia', 'Eswatini', 'Ethiopia', 'France',
       'Gabon', 'Gambia', 'Germany', 'Ghana', 'Greece', 'Guadeloupe',
       'Guatemala', 'Guinea', 'Haiti', 'Hong Kong (China)', 'Hungary',
       'India', 'Indonesia', 'Iran, Islamic Republic', 'Iraq', 'Israel',
       'Italy', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea Republic', "Korea, Democratic People's Republic",
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Lebanon',
       'Liberia', 'Libyan Arab Jamah', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Mauritania', 'Mauritius', 'Mexico', 'Mongolia', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Zealand', 'Niger', 'Nigeria',
       'Norway', 'Oman', 'Pakistan', 'Palestine (West Bank, Gaza)',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Switzerland', 'Syrian Arab Rep', 'Taiwan (China)',
       'Tanzania', 'Thailand', 'Tonga', 'Tunisia', 'Turkey', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uzbekistan', 'Venezuela', 'Viet Nam', 'Yemen',
       'Zaire/Congo, Dem Rep (PREVIOUS)', 'Zambia', 'Zimbabwe',
       'Tajikistan', 'Armenia', 'Burkina Faso', 'Cape Verde',
       'South Sudan', 'Togo', 'Barbados', 'Belarus', 'Bulgaria',
       'Moldova', 'Montenegro', 'Slovenia', 'Belize', 'Botswana',
       'Cyprus', 'Eritrea', 'Fiji', 'Georgia', 'Grenada', 'Guinea Bissau',
       'Guyana', 'Honduras', 'Jamaica', 'Kiribati', 'Lesotho',
       'Marshall Islands', 'Micronesia, Federated States', 'Nicaragua',
       'Solomon Islands', 'Timor Leste', 'Trinidad & Tobago', 'Uruguay',
       '(Non-Localized)', 'Vanuatu', 'Anguilla', 'Antigua & Barbuda',
       'Bahamas', 'Belgium', 'Bhutan', 'Cayman Islands', 'Cook Islands',
       'Czech Rep', 'Dominica', 'Finland', 'French Guiana',
       'French Polynesia', 'Iceland', 'Ireland', 'Kuwait', 'Latvia',
       'Lithuania', 'Macau', 'Malta', 'Martinique', 'Montserrat',
       'New Caledonia', 'Palau', 'Qatar', 'Reunion', 'Saint Lucia',
       'Saint Vincent & The Grenadines', 'Samoa', 'Sao Tome et Principe',
       'Seychelles', 'Slovakia', 'St Kitts & Nevis', 'Sweden',
       'Turks & Caicos', 'Virgin Islands (UK)', 'Turkmenistan',
       'American Samoa', 'Guam', 'Niue', 'St Helena',
       'Virgin Islands (US)'], dtype=object)

In [17]:
df_gdacs_consolidated['Country'].unique()

array(['Afghanistan (AFG), Kazakhstan (KAZ), Tajikistan (TJK), Turkmenistan',
       'Afghanistan (AFG), Pakistan',
       'Afghanistan (AFG), Pakistan (PAK), Tajikistan',
       'Albania (ALB), Austria (AUT), Bosnia & Herzegovina (BIH), Bulgaria (BGR), Belarus (BLR), Greece (GRC), Croatia (HRV), Hungary (HUN), Kazakhstan (KAZ), Moldova (MDA), Montenegro (MNE), Romania (ROU), Serbia (SRB), Russia (RUS), Slovenia (SVN), Slovakia (SVK), Türkiye (TUR), Ukraine',
       'Algeria (DZA), Morocco', 'Algeria (DZA), Morocco (MAR), Tunisia',
       'Algeria (DZA), Spain (ESP), Morocco',
       'Algeria (DZA), Spain (ESP), Morocco (MAR), Tunisia', 'Angola',
       'Angola (AGO), Botswana (BWA), Mozambique (MOZ), Namibia (NAM), Zambia (ZMB), Zimbabwe',
       'Angola (AGO), Democratic Republic of Congo (COD), Republic of Congo',
       'Argentina', 'Argentina (ARG), Brazil (BRA), Paraguay',
       'Argentina (ARG), Chile', 'Armenia (ARM), Azerbaijan', 'Australia',
       'Austria (AUT), Belgium (BEL), Switzerland (CHE), Germany (DEU), France (FRA), Liechtenstein (LIE), Luxembourg',
       'Azerbaijan (AZE), Russia',
       'Bangladesh (BGD), India (IND), Myanmar',
       'Bangladesh (BGD), India (IND), Myanmar (MMR), Nepal',
       'Belarus (BLR), Estonia (EST), Lithuania (LTU), Latvia (LVA), Poland (POL), Russia (RUS), Ukraine',
       'Belarus (BLR), Georgia (GEO), Russia (RUS), Ukraine',
       'Belgium (BEL), Czech Republic (CZE), Germany (DEU), France (FRA), Luxembourg (LUX), Poland (POL), Sweden',
       'Belgium (BEL), Switzerland (CHE), Czech Republic (CZE), Germany (DEU), France (FRA), Luxembourg (LUX), Netherlands (NLD), Poland',
       'Belgium (BEL), Switzerland (CHE), Germany (DEU), France (FRA), Luxembourg (LUX), Netherlands',
       'Belize (BLZ), Guatemala (GTM), Honduras (HND), Mexico',
       'Belize (BLZ), Guatemala (GTM), Honduras (HND), Mexico (MEX), Nicaragua',
       'Belize (BLZ), Guatemala (GTM), Mexico',
       'Bhutan (BTN), China (CHN), India (IND), Myanmar',
       'Bhutan (BTN), China (CHN), India (IND), Nepal',
       'Bolivia (BOL), Brazil',
       'Bolivia (BOL), Brazil (BRA), Colombia (COL), Ecuador (ECU), Peru (PER), Venezuela',
       'Bolivia (BOL), Brazil (BRA), Peru (PER), Paraguay',
       'Botswana (BWA), Lesotho (LSO), Mozambique (MOZ), South Africa',
       'Botswana (BWA), Mozambique (MOZ), South Africa (ZAF), Zimbabwe',
       'Brazil',
       'Bulgaria (BGR), Cyprus (CYP), Spain (ESP), Greece (GRC), Italy (ITA), The Republic of North Macedonia (MKD), Malta (MLT), Türkiye',
       'Bulgaria (BGR), Iraq (IRQ), Türkiye',
       'Bulgaria (BGR), Lithuania (LTU), Poland (POL), Romania (ROU), Serbia (SRB), Russia',
       'Bulgaria (BGR), Moldova (MDA), Romania (ROU), Türkiye (TUR), Ukraine',
       'Burundi (BDI), Democratic Republic of Congo (COD), Rwanda',
       'Cambodia (KHM), Laos (LAO), Myanmar (MMR), Thailand (THA), Vietnam',
       'Cambodia (KHM), Laos (LAO), Thailand (THA), Vietnam',
       'Cameroon (CMR), Equatorial Guinea', 'Cameroon (CMR), Nigeria',
       'Canada', 'Canada (CAN), United States',
       'Central African Republic (CAF), Chad',
       'Central African Republic (CAF), Kenya (KEN), South Sudan (SSD), Uganda',
       'Chad', 'Chile', 'China',
       'China (CHN), India (IND), Myanmar (MMR), Nepal',
       'China (CHN), India (IND), Nepal',
       'China (CHN), Laos (LAO), Myanmar (MMR), Thailand',
       'China (CHN), Malaysia (MYS), Philippines (PHL), Thailand',
       'China (CHN), Mongolia',
       'China (CHN), North Korea (PRK), South Korea', 'Colombia',
       'Colombia (COL), Venezuela', "Cote d'Ivoire (CIV), Ghana",
       'Croatia (HRV), Hungary (HUN), Romania (ROU), Serbia',
       'Democratic Republic of Congo (COD), Central African Republic (CAF), Republic of Congo (COG), Cameroon (CMR), Gabon (GAB), Equatorial Guinea',
       'Democratic Republic of Congo (COD), Central African Republic (CAF), Republic of Congo (COG), Cameroon (CMR), Gabon (GAB), Equatorial Guinea (GNQ), Nigeria',
       'Democratic Republic of Congo (COD), Zambia',
       'Dominican Republic (DOM), Haiti', 'Ecuador',
       'Ethiopia (ETH), Sudan (SDN), South Sudan', 'France',
       'France (FRA), Italy (ITA), Monaco',
       'Germany (DEU), Denmark (DNK), France (FRA), Latvia (LVA), Poland (POL), Sweden',
       'Greece (GRC), Türkiye', 'Guatemala (GTM), Mexico', 'Haiti',
       'India', 'India (IND), Myanmar', 'India (IND), Pakistan',
       'India (IND), Sri Lanka', 'Indonesia', 'Indonesia (IDN), Malaysia',
       'Ireland',
       'Islamic Republic of Iran (IRN), Kazakhstan (KAZ), Turkmenistan (TKM), Uzbekistan',
       'Islamic Republic of Iran (IRN), Kyrgyzstan (KGZ), Kazakhstan (KAZ), Tajikistan (TJK), Turkmenistan (TKM), Uzbekistan',
       'Italy', 'Japan', 'Kazakhstan (KAZ), Russia',
       'Kazakhstan (KAZ), Russia (RUS), Uzbekistan', 'Kenya',
       'Kenya (KEN), Somalia',
       'Kyrgyzstan (KGZ), Kazakhstan (KAZ), Tajikistan (TJK), Uzbekistan',
       'Lesotho (LSO), South Africa', 'Libya', 'Madagascar',
       'Mauritania (MRT), Senegal', 'Mexico',
       'Mexico (MEX), United States', 'Mongolia',
       'Mongolia (MNG), Russia', 'Morocco', 'Mozambique',
       'Mozambique (MOZ), Zimbabwe', 'Namibia', 'New Zealand', 'Nigeria',
       'Peru', 'Philippines', 'Russia', 'Russia (RUS), Ukraine',
       'Somalia', 'South Africa', 'South Sudan', 'Spain (ESP), Portugal',
       'Sri Lanka', 'Tanzania (TZA), Mozambique',
       'The Gambia (GMB), Guinea (GIN), Guinea-Bissau (GNB), Senegal',
       'Trinidad & Tobago (TTO), Venezuela', 'Türkiye', 'Uganda',
       'United States', 'Uzbekistan', 'Aegean Sea', 'Afghanistan',
       'Albania', 'Algeria', 'American Samoa', 'Anguilla', 'Antarctica',
       'Antigua & Barbuda', 'Antigua and Barbuda', 'Armenia', 'Aruba',
       'Ascension Island Region', 'Austria', 'Azerbaijan',
       'Azores Islands Region', 'Balleny Islands Region', 'Banda Sea',
       'Bangladesh', 'Barbados', 'Belgium', 'Bhutan', 'Bismarck Sea',
       'Bolivia', 'Bosnia & Herzegovina', 'Bosnia and Herzegovina',
       'Bouvet I.', 'Bouvet Island', 'Bouvet Island Region',
       'British Indian Ocean Territory', 'British Virgin Is.',
       'British Virgin Islands', 'Broken Ridge', 'Bulgaria', 'Burundi',
       'California-Nevada Border Region', 'Cape Verde', 'Carlsberg Ridge',
       'Cayman Is.', 'Cayman Islands', 'Celebes Sea',
       'Central East Pacific Rise', 'Central Mediterranean Sea',
       'Central Mid-Atlantic Ridge', 'Central Peru', 'Ceram Sea',
       'Chagos Archipelago Region', 'Chile-Argentina Border Region',
       'Chile-Bolivia Border Region', 'Christmas I.', 'Christmas Island',
       'Cocos (Keeling) Islands', 'Cocos Is.', 'Comoros', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Cyprus Region', 'Czech Republic',
       'Democratic Republic of the Congo', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Of Kuril Islands',
       'East Of South Sandwich Islands', 'Easter Island Region',
       'Eastern Caucasus', 'Egypt', 'El Salvador', 'Eritrea', 'Ethiopia',
       'Falkland Islands', 'Falkland Islands Region', 'Faroe Is.',
       'Federated States of Micronesia', 'Fiji', 'Fiji Islands',
       'Fiji Islands Region', 'Flores Sea',
       'Former Yugoslav Republic of Macedonia', 'French Polynesia',
       'French Southern Territories',
       'French Southern and Antarctic Lands', 'Gabon',
       'Galapagos Islands Region', 'Galapagos Triple Jungtion Region',
       'Georgia', 'Germany', 'Glorioso Is.', 'Greece', 'Greenland',
       'Greenland Sea', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinea', 'Gulf Of California', 'Hawaii', 'Honduras',
       'Howland Island', 'Hungary', 'Iceland', 'Iceland Region',
       'Indian Ocean Triple Junction', 'Iran', 'Iran-Iraq Border Region',
       'Iraq', 'Islamic Republic of Iran', 'Jamaica', 'Jan Mayen',
       'Jan Mayen Island Region', 'Jordan', 'Juan De Nova I.',
       'Kashmir-Xinjiang Border Region', 'Kashmir-Xizang Border Region',
       'Kazakhstan', 'Kermadec Islands Region', 'Kiribati',
       'Komandorsky Islands Region', 'Kuril Islands', 'Kuwait',
       'Kyrgyzstan', 'Lake Issyk-Kul Region', 'Lake Tanganyika Region',
       'Laos', 'Lebanon', 'Leeward Islands', 'Loyalty Islands',
       'Macedonia', 'Macquarie Island Region', 'Malawi', 'Malaysia',
       'Maldives', 'Malta', 'Mariana Islands', 'Mariana Islands Region',
       'Martinique', 'Mauritius', 'Mauritius - Reunion Region', 'Mayotte',
       'Mexico-Guatemala Border Region', 'Micronesia', 'Mid-Indian Ridge',
       'Miscellaneous (French) Indian Ocean Islands', 'Montenegro',
       'Mozambique Channel', 'Myanmar', 'Myanmar-India Border Region',
       'Near Coast Of Central Chile', 'Near Coast Of Ecuador',
       'Near Coast Of Guatemala', 'Near Coast Of Nicaragua',
       'Near Coast Of Northern Chile', 'Near Coast Of Peru',
       'Near East Coast Of Kamchatka', 'Near North Coast Of Irian Jaya',
       'Nepal', 'Nepal-India Border Region', 'Netherlands', 'Nevada',
       'New Caledonia', 'Nicaragua', 'Niue', 'No Mans Land', 'Norfolk I.',
       'Norfolk Island', 'North Atlantic Ocean', 'North Indian Ocean',
       'North Korea', 'North Of Ascension Island',
       'North Of Franz Josef Land', 'North Of Honduras',
       'North Of Macquarie Island', 'North Of Severnaya Zemlya',
       'North Of Solomon Islands', 'North Of Svalbard',
       'North Pacific Ocean', 'Northeast Of Taiwan', 'Northeastern China',
       'Northern Alaska', 'Northern And Central Iran', 'Northern Chile',
       'Northern East Pacfic Rise', 'Northern Mariana Is.',
       'Northern Mariana Islands', 'Northern Mid-Atlantic Ridge',
       'Northern Molucca Sea', 'Northern Peru', 'Northwest Of Madagascar',
       'Norway', 'Null', 'Off Coast Of Central America',
       'Off Coast Of Central Chile', 'Off Coast Of Costa Rica',
       'Off Coast Of Northern California', 'Off Coast Of Oregon',
       'Off Coast Of Peru', 'Off Coast Of Southern Chile',
       'Off East Coast Of Kamchatka', 'Off W Coast Of Northern Sumatera',
       'Oman', 'Owen Fracture Zone Region', 'Pacific-Antarctic Ridge',
       'Pakistan', 'Palau', 'Panama', 'Panama-Costa Rica Border Region',
       'Papua New Guinea', 'Peru-Ecuador Border Region',
       'Philippine Islands Region', 'Poland', 'Portugal',
       'Prince Edward Islands Region', 'Puerto Rico',
       'Puerto Rico Region', 'Red Sea', 'Republic of Korea',
       'Revilla Gigedo Islands Region', 'Reykjanes Ridge', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Samoa',
       'Samoa Islands Region', 'Santa Cruz Islands', 'Saudi Arabia',
       'Scotia Sea', 'Serbia', 'Serbia  and  Montenegro', 'Seychelles',
       'Slovenia', 'Solomon Is.', 'Solomon Islands',
       'South Atlantic Ocean', 'South Georgia & the South Sandwich Is.',
       'South Georgia Island Region',
       'South Georgia and the South Sandwich Islands',
       'South Indian Ocean', 'South Korea', 'South Of Africa',
       'South Of Alaska', 'South Of Fiji Islands',
       'South Of Kermadec Islands', 'South Of Mariana Islands',
       'South Of Panama', 'South Of Tonga Islands', 'South Pacific Ocean',
       'South Sandwich Islands Region', 'South Shetland Islands',
       'Southeast Central Pacific Ocean', 'Southeast Indian Ridge',
       'Southeast Of Easter Island', 'Southeast Of Loyalty Islands',
       'Southern Alaska', 'Southern Bolivia', 'Southern California',
       'Southern East Pacific Rise', 'Southern India', 'Southern Iran',
       'Southern Italy', 'Southern Mid-Atlantic Ridge',
       'Southern Molucca Sea', 'Southern Peru', 'Southwest Indian Ridge',
       'Southwest Of Africa', 'Southwestern Pakistan', 'Spain',
       'St. Helena', 'St. Kitts & Nevis', 'St. Vincent & the Grenadines',
       'Strait Of Gibraltar', 'Svalbard', 'Svalbard Region',
       'Svalbard and Jan Mayen', 'Sweden', 'Syrian Arab Republic',
       'Taiwan', 'Taiwan Region', 'Tajikistan', 'Tanzania', 'Thailand',
       'The Bahamas', 'The Democratic Republic of Congo',
       'The Republic of North Macedonia', 'Timor Leste', 'Timor Region',
       'Timor-Leste', 'Tonga', 'Tonga Islands', 'Tonga Islands Region',
       'Trinidad & Tobago', 'Trinidad and Tobago',
       'Tristan Da Cunha Region', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Vanuatu',
       'Vanuatu Islands', 'Venezuela', 'Viet Nam', 'Vietnam',
       'Virgin Is.', 'Virgin Islands', 'Virgin Islands  British',
       'Wallis & Futuna', 'Wallis and Futuna', 'West Bank',
       'West Chile Rise', 'West Of Galapagos Islands',
       'West Of Macquarie Island', 'Western Indian-Antarctic Ridge',
       'Western Iran', 'Windward Islands', 'Xizang', 'Yemen',
       'Yugoslavia', 'Zambia', 'Zimbabwe',
       'Afghanistan (AFG), Tajikistan', 'Africa', 'Alaska',
       'Albania (ALB), Bulgaria (BGR), Greece (GRC), Kosovo (XXK), Montenegro (MNE), Serbia',
       'Albania (ALB), Kosovo (XXK), Montenegro (MNE), Serbia',
       'Albania (ALB), Montenegro', 'Albania (ALB), Serbia',
       'Albania (ALB), The Republic of North Macedonia',
       'Algeria (DZA), Italy (ITA), Tunisia', 'Algeria (DZA), Tunisia',
       'Austria (AUT), Czech Republic (CZE), Germany (DEU), Poland (POL), Romania (ROU), Slovakia',
       'Austria (AUT), Germany', 'Bahamas',
       'Bahrain (BHR), United Arab Emirates', 'Bangladesh (BGD), India',
       'Barbados (BRB), Dominican Republic (DOM), France (FRA), St. Lucia (LCA), St. Vincent & the Grenadines',
       'Barbados (BRB), Grenada (GRD), St. Lucia', 'Belarus',
       'Belgium (BEL), France', 'Belgium (BEL), Netherlands', 'Belize',
       'Belize (BLZ), Guatemala', 'Benin', 'Benin (BEN), Togo', 'Boliva',
       'Bosnia & Herzegovina (BIH), Croatia', 'Bosnia and Herzogovina',
       'Bosnia-Hercegovenia', 'Bosnia-Herzegovina', 'Botswana',
       'British Virgin Is. (VGB), France (FRA), United States',
       'Buldaria', 'Bulgaria (BGR), Romania', 'Burkina Faso',
       'Burkino Faso', 'Burma', 'Camaroun', 'Cambodia',
       'Cambodia (KHM), Vietnam', 'Cameroon', 'Canada and USA',
       'Canary Islands', 'Central African Republic',
       'China (CHN), Philippines (PHL), Taiwan', 'China (CHN), Taiwan',
       'China (CHN), Vietnam',
       'Colombia (COL), Costa Rica (CRI), El Salvador (SLV), Guatemala (GTM), Honduras (HND), Nicaragua (NIC), Panama',
       'Columbia', 'Comoros Islands', 'Congo', 'Congo Republic',
       'Congo and Zaire', 'Congo-Brazzaville',
       'Costa Rica (CRI), El Salvador (SLV), Nicaragua',
       'Costa Rica (CRI), Guatemala (GTM), Honduras (HND), Jamaica (JAM), Mexico (MEX), Nicaragua (NIC), Panama (PAN), United States',
       'Cote d Ivoire', "Cote d'Ivoire", 'Croatia (HRV), Serbia',
       'Croatia (HRV), Slovakia', 'Croatia (HRV), Slovenia',
       'Cuba (CUB), Dominican Republic (DOM), United States',
       'Cuba (CUB), Jamaica', 'Cuba (CUB), United States',
       'Cyprus (CYP), Egypt (EGY), Israel (ISR), Syria', 'Czechia',
       'DR Congo', 'Democratic Republic of Congo', 'Denmark',
       'Denmark (DNK), Germany',
       'Dominican Republic (DOM), France (FRA), Netherlands',
       'Dominican Republic (DOM), Haiti (HTI), Jamaica',
       'Dominican Republic (DOM), United States', 'Domnican Republic',
       'East Timor', 'Eastern India', 'Eastern Russia',
       'Egypt (EGY), Israel', 'El Salvador (SLV), Honduras',
       'El Salvador (SLV), Honduras (HND), Mexico', 'Estonia',
       'Estonia (EST), Latvia (LVA), Lithuania',
       'Eswatini (SWZ), Madagascar (MDG), Mozambique (MOZ), South Africa (ZAF), Zimbabwe',
       'Ethiopia (ETH), Kenya', 'Europe', 'Fiji (FJI), Vanuatu',
       'Finland', 'France (FRA), Italy', 'France (FRA), Luxembourg',
       'France (FRA), Madagascar (MDG), Mauritius',
       'France (FRA), Mauritius', 'France (FRA), Spain',
       'France (FRA), United Kingdom', 'Gaza',
       'Germany (DEU), Switzerland', 'Ghana',
       'Grenada (GRD), Spain (ESP), Trinidad & Tobago', 'Guatamala',
       'Guinea-Bissau', 'Guyana', 'Hungary (HUN), Romania', 'Inda',
       'India (IND), Nepal', 'Iraq (IRQ), Kuwait',
       'Ireland (IRL), United Kingdom',
       'Islamic Republic of Iran (IRN), Pakistan',
       'Isle of Man (IMY), United Kingdom', 'Israel',
       'Israel (ISR), Jordan', 'Israel (ISR), Lebanon',
       'Italy (ITA), Malta', 'Ivory Coast', 'Jordan (JOR), Saudi Arabia',
       'Kazahkstan', 'Kazakhstan (KAZ), Uzbekistan', 'Kosovo',
       'Kosovo (XXK), Serbia',
       'Kuwait (KWT), Oman (OMN), United Arab Emirates',
       'Kyrgyzstan (KGZ), Uzbekistan', 'Laos (LAO), Vietnam', 'Latvia',
       'Lesotho', 'Liberia', 'Lithuania', 'Luxembourg',
       'Madagascar (MDG), Malawi (MWI), Mozambique', 'Malayasia',
       'Malaysia (MYS), Thailand', 'Mali', 'Marshall Is.', 'Mauritania',
       'Moldova', 'Moldovo', 'Morocco (MAR), Spain', 'Niger',
       'North Korea (PRK), South Korea', 'North Macedonia',
       'Northern Bangladesh\xa0and Eastern India',
       'Northwestern D R Congo', 'Norway (NOR), Sweden',
       'Oman (OMN), United Arab Emirates', 'Oman (OMN), Yemen',
       'Palestine', 'Papua New Gunea', 'Paraguay', 'Phillipines',
       'Phillippines', 'Portugal (PRT), Spain', 'Qatar',
       'Qatar (QAT), United Arab Emirates', 'Republic of Congo', 'Russa',
       'Saint Vincent', 'Scotland', 'Senegal', 'Serbia and Montenegro',
       'Serbia-Montenegro', 'Sierra Leone', 'Singapore', 'Slovakia',
       'South Africa (ZAF), Zimbabwe', 'Southern Somalia', 'Sudan',
       'Sudan and Eritrea', 'Suriname', 'Switzerland', 'Syria',
       'Tajikstan', 'Tasmania', 'Texas', 'Thailand (THA), Vietnam',
       'The Bahamas (BHS), United States', 'The Gambia', 'Timor', 'Togo',
       'Trinidad', 'UK', 'UK and Ireland', 'US', 'USA', 'USAS',
       'United States of America', 'Uruguay', 'Venezulea',
       'Western Europe', 'Western India', 'Western Sahara', 'Zimbawe',
       'Australia (AUS), Indonesia', 'Australia (AUS), Papua New Guinea',
       'Bangladesh (BGD), India (IND), Bhutan',
       'Bangladesh (BGD), India (IND), Myanmar (MMR), Bhutan',
       'Bangladesh (BGD), India (IND), Myanmar (MMR), Thailand (THA), Cambodia (KHM), Laos',
       'Bangladesh (BGD), Myanmar (MMR), India',
       'Barbados (BRB), Martinique (MTQ), Grenada (GRD), Dominica (DMA), Dominican Republic (DOM), Haiti (HTI), Cuba (CUB), United States (USA), Jamaica (JAM), Guadeloupe',
       'Belize (BLZ), Mexico', 'Belize (BLZ), Mexico (MEX), Honduras',
       'Bermuda', 'Bermuda (BMU), Anguilla (AIA), Anguilla',
       'Bermuda (BMU), Anguilla (AIA), Canada',
       'Bermuda (BMU), Canada (CAN), Dominican Republic (DOM), Montserrat (MSR), Dominica',
       'Bermuda (BMU), Dominica (DMA), Guadeloupe (GLP), Anguilla (AIA), Antigua & Barbuda (ATG), St. Kitts & Nevis (KNA), Montserrat (MSR), Canada (CAN), St. Pierre & Miquelon',
       'Bermuda (BMU), Dominica (DMA), Guadeloupe (GLP), Martinique (MTQ), Anguilla (AIA), Montserrat (MSR), Puerto Rico (PRI), Canada',
       'Bermuda (BMU), Dominican Republic (DOM), Haiti',
       'Bermuda (BMU), Montserrat (MSR), Puerto Rico (PRI), United States (USA), Anguilla (AIA), Canada (CAN), Guadeloupe (GLP), Dominica (DMA), Martinique',
       'Bermuda (BMU), United States (USA), Bermuda',
       'Bermuda (BMU), United States (USA), Cuba (CUB), Mexico',
       'Cambodia (KHM), Laos', 'Cambodia (KHM), Laos (LAO), Thailand',
       'Cambodia (KHM), Malaysia (MYS), Philippines',
       'Cambodia (KHM), Philippines (PHL), Laos (LAO), Thailand',
       'Canada (CAN), Bermuda',
       'Canada (CAN), Bermuda (BMU), Anguilla (AIA), Puerto Rico (PRI), Montserrat (MSR), Guadeloupe',
       'Canada (CAN), Dominican Republic (DOM), Puerto Rico',
       'Canada (CAN), Iceland (ISL), Bermuda (BMU), Ireland (IRL), United Kingdom',

In [18]:
df_disaster_charter_consolidated['Country'].unique()

array(['Argentina', 'Chile', 'Egypt', 'English Channel', 'Iran',
       'Lebanon', 'Ryongchon, North Korea', 'South China Sea', 'Thailand',
       'Antilles Islands', 'Bahamas', 'Bangladesh',
       'Bangladesh and Myanmar', 'Bermuda', 'Caribbean', 'Cayman Islands',
       'Central America: Nicaragua, El Salvador, Guatemala, Mexico',
       'China', 'Colombia', 'Dominican Republic', 'Ecuador', 'Eswatini',
       'Farquhar, Seychelles', 'Fiji', 'Fiji islands',
       'Grenada Island - Caribbean',
       'Guadeloupe, Saint Martin and Saint-Barthélemy',
       'Guam, Northern Mariana Islands', 'Guatemala',
       'Hainan Province, China', 'Haiti', 'Haiti, USA', 'Honduras',
       'India', 'Indonesia', 'Islands of the country of Palau', 'Jamaica',
       'Japan', 'Kingdom of Tonga', 'La Réunion',
       'Louisiana, Mississippi, Alabama (United States)',
       'Louisiana, USA', 'Madagascar', 'Madagascar (Morombe, Taolagnaro)',
       'Madagascar, Toamasina (Tamatave)', 'Malawi', 'Mexico',
       'Mozambique', 'New Caledonia',
       'New Orleans, Louisiana, Mississippi (United States)', 'Nicaragua',
       'North-East India', 'Odisha and Andhra Pradesh states, India',
       'Oman', 'Pacific Islands (Kingdom of Tonga)', 'Pakistan', 'Peru',
       'Philippines', 'Philippines - Mindanao, Davao',
       'Philippines, Mindanao', 'Puerto Rico and U.S. Virgin Islands',
       'Queensland, Australia', 'Quezon, Philippines',
       'Rarotonga Island - Cook Islands', 'Russian Federation', 'Samoa',
       'Solomon Islands', 'South Korea', 'South West France',
       'Southern Florida, Gulf of Mexico, Gulf Coast of North America',
       'Southern Sweden', 'Southern Texas, USA', 'Sri Lanka', 'Taiwan',
       'Texas, United States', 'The Philippines', 'Tonga',
       'United Arab Emirates', 'United States',
       'United States of America', 'United States of America (USA)',
       'United States of America - States of New York and New Jersey',
       'Vanuatu', 'Vietnam', 'Vietnam (Dak Lak and Lam Dong provinces)',
       'Wallis and Futuna Islands', 'Wallis and Futuna, French Polynesia',
       'Yangon, Myanmar', 'Yemen', 'Yucatan Peninsula, Mexico',
       'Zimbabwe', 'Bento Rodrigues, Brazil', 'Afghanistan',
       'Al Eis, Saudi Arabia', 'Al Hoceima, Morocco', 'Algeria',
       'Balochistan, Pakistan', 'Bam, Iran', 'Bhuj, Gujarat, India',
       'Bingöl, Türkiye', 'Bohol Island, the Philippines',
       'Canary Islands',
       'China - Yiliang County, Yunnan Province and Weining County, Guizhou Province',
       'Costa Rica', 'Dalbandin, Pakistan', 'El Salvador',
       'Gansu Province, China', 'Hindu Kush Mountains, Afghanistan',
       'Hindu Kush region, Afghanistan',
       'Hirono, Iwate prefecture, Japan', 'India-Pakistan border',
       'India; Sri Lanka, Thailand, Indonesia, Maldives, Malaysia, Myanmar (Burma)',
       'Iraq', 'Java, Indonesia', 'Malawi, Karango', 'Morocco', 'Nepal',
       'Nepal and India', 'New Zealand', 'North-West Iran',
       'Papua province (Irian Jaya), Indonesia', 'Pisco city, Peru',
       'Rwanda, Democratic Republic of the Congo, Burundi',
       'Sichuan Province, China', 'Sikkim, North East India',
       'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan',
       'The Solomon Islands', 'Türkiye', 'Yunnan Province, China',
       'West Africa - Guinea, Liberia and Sierra Leone',
       'Alberta, Canada', 'Australia', 'Bolivia',
       'Bolivia, Plurinational State', 'Bolivia, Plurinational State Of',
       'Canada', 'Canary Islands, Spain (La Palma)', 'Coimbra, Portugal',
       'Cordoba, Argentina', 'France', 'Greece', 'Israel',
       'La Vega Province, Dominican Republic', 'Lebanon and Syria',
       'Montenegro', 'New South Wales, Australia', 'Panama', 'Paraguay',
       'San Pedro, Paraguay', 'Torres del Paine, Chile', 'Tunisia',
       'United States: Southern California',
       'Valparaiso and Vina del Mar, Chile', 'Valparaiso, Chile',
       'Congo, The Democratic Republic Of The', 'Acre, Brazil', 'Albania',
       'Angola', 'Argentina, Simoca and Concepcion, Tucuman',
       'Arles, France', 'Armenia', 'Assam State, India', 'Austria',
       'Bay of Bengal, Bangladesh', 'Benin, Western Africa',
       'Bolivia-Paraguay-Argentina', 'Brazil',
       'Brazil - Belo Horizonte e Campos dos Goitacazes',
       'Brazil, Rio de Janeiro', 'British Columbia (Vancouver), Canada',
       'British Columbia, Canada', 'British Virgin Islands',
       'Bujumbura, Burundi', 'Bulgaria',
       'Cagayan de Oro, Mindanao Island,  Philippines', 'Cambodia',
       'Cameroon', 'Central African Republic', 'Central Argentina',
       'Central Europe', 'Central Midwest, USA', 'Chad',
       'Chanthaburi Province, Thailand',
       'China Fuyang, Huainan, Anhui Province; Hubei Province; Henan Province.',
       'China; Chongqing, Hechuan, Mingliang in Sichuan Province',
       'Chiriqui Province, Republic of Panama',
       'Choele-Choel City and Neuquen City, Argentina',
       'City of Krymsk, Krasnodar, Russia',
       'Colorado, United States of America', 'Cotonou, Benin Republic',
       'Cuvelai, Northern Namibia', 'Czech Republic',
       'Czech Republic, Znojmo (South Moravia)', 'Dadaab, Northern Kenya',
       'Dakar, Senegal', "Democratic People's Republic of Korea",
       'Djibouti', 'East coast of England, United Kingdom',
       'Eastern Namibia, Zambezi river, Caprivi region',
       'El Tarf, Algeria', 'Elbe region of Germany',
       'England (Gloucestershire, Herefordshire)', 'England and Wales',
       'England, United Kingdom', 'Ethiopia',
       'Far Eastern Federal District, Russian Federation',
       'France - Departments 34 and 30', 'France and Luxembourg',
       'Fraser River, BC (Hope B.C. - Vancouver B.C.)', 'Gambia',
       'Gard department, France, near Alès and Nîmes', 'Gaza',
       'Georgetown, Guyana', 'Georgia, USA', 'Germany (South and East)',
       'Ghana', 'Gojyo-shi, Nara-pref, Japan', 'Guinea',
       'Gulf Coast of USA', 'Guyana', 'Haiti and Dominican Republic',
       'Honiara - Solomon Islands', 'Huancavelica, Peru', 'Hungary',
       'India, states of Uttar Pradesh and Bihar', 'Indiana, USA', 'Iowa',
       'Iran, Islamic Republic Of', 'Islamic Republic of Iran',
       'Jakarta, Indonesia', 'Jammu and Kashmir State, India', 'Kenya',
       'Kenya; Mandera, Garissa and Kwale', 'Korea, Republic Of',
       'Krasnodar Region, Russia - Tuapse municipal district',
       'Kyrgyzstan',
       'La Paz City, Trinidad City and Titicaca Lake (Bolivia)',
       "Lao People's Democratic Republic",
       "Laos People's Democratic Republic",
       'Lena River, Yakutia region, Eastern Siberia', 'Libya',
       'Littoral, Argentina', 'Luxembourg', 'Maga, Mayo-Danay',
       'Magdalena Medio and Mojana, Colombia', 'Mahe, Seychelles',
       'Manila, Philippines', 'Manila, the Philippines',
       'Manitoba, Canada', 'Marshall Islands',
       'Meuse and Moselle Rivers, France',
       'Micronesia, Federated States Of',
       'Minxiang county, Gansu Province, China', 'Mongolia',
       'Mozambique - Gaza / Maputo provinces',
       'Municipalities of Guaranda, S.Pablo, Gamarra, Colombia',
       'Myanmar', 'Namibia', 'Namibia, southern Angola',
       'New Brunswick, Canada', 'Nias Island, Indonesia', 'Niger',
       'Niger - Niamey, Dosso, Agadez', 'Nigeria', 'North Dakota, USA',
       'North Korea', 'North region of Brazil', 'North western Slovenia',
       'Northern / North-Eastern Romania and Ukraine', 'Northern India',
       'Obrenovac, Serbia', 'Ouagadougou, Burkina Faso',
       'Pakistan, Arabian Sea', 'Palestinian Territory of Gaza',
       'Pasni, Pakistan', 'Punjab and Sindh Provinces, Pakistan',
       'Puno, Peru', 'Quang Nam and Binh Dinh provinces in Vietnam',
       'Queensland, Australie', 'Rio Grande do Sul - Brazil', 'Romania',
       'Russia', 'Rwanda', 'Santa Catarina, Brazil',
       'Sao Tome And Principe', 'Saône River, France', 'Senegal',
       'Senegal and Mauritania',
       'Senegal: Dakar, Touba, Darou Mousty, Fatick, Kaolack',
       'Sierra Leone', 'Slovenia', 'Somalia', 'Somalia and Ethiopia',
       'South Africa', 'South Sudan', 'South of France: Gard, Hérault',
       'Southern England, United Kingdom',
       'Southern part of Russian Federation between Black and Caspian sea (Caucasia)',
       'Spain', 'Sudan', 'Sudan (Khartoum State)', 'Sumatra', 'Surinam',
       'Sutley River, Himachal Pradesh, India', 'Switzerland',
       'Tartagal, Argentina', 'The Danube River, Austria',
       'The Elbe River, Germany', 'Timor-leste', 'Togo',
       'Turks And Caicos Islands', 'USA', 'United Kingdom',
       'Upper Nile state, South Sudan', 'Uruguay', 'Uttarakhand, India',
       'Uttarkhand, India', 'Venezuela',
       'Venezuela, Bolivarian Republic Of', 'Viet Nam', 'West Africa',
       'West Africa / Nigeria (Adamawa and Taraba States)',
       'West Africa / Nigeria (Bayelsa State)',
       'West Africa / Nigeria (Lokoja)', 'Western Washington, USA',
       'Wisconsin, USA', 'Yamaguchi and Shimane Prefecture, Japan',
       'Zambia', 'Zambia, Zimbabwe, Mozambique', 'el-Bayadh, Algeria',
       '毛里塔尼亚', 'Georgia', 'Italy', 'Izu Oshima, Japan',
       'Khatlon Province, Tajikistan', 'Log pod Mangartom, Slovenia',
       'North Ossetia', 'Plurinational State of Bolivia',
       'Republic of Tajikistan', 'Sindhupalchowk district, Nepal',
       'St Bernard, the Philippines', 'Uganda',
       'Wenchuan County, Sichuan Province, China',
       'Atlantic Ocean off the coast of Brazil', 'Baltic Sea, Denmark',
       'England', 'Galicia, Spain', 'Gulf of Aden',
       'Gulf of Mexico - USA', 'Mauritius', 'Norway (North Sea)',
       'San Cristobal, Galapagos Islands, Ecuador', 'Trinidad And Tobago',
       'Vung Tau, Vietnam', 'Ivano-Frankisvk region, Ukraine',
       'Lac-Mégantic, Quebec, Canada',
       'South-eastern United States (states of Kentucky, Tennessee, Alabama, Mississippi, Arkansas)',
       'Indonesia and Thailand', 'Samoa Islands', 'Alotenango, Guatemala',
       'Chile and Argentina', 'Comoros', 'Grenada', 'Iceland', 'Java',
       'Los Lagos, Chile', 'Michimahuida volcano, southern Chile',
       'Montserrat', 'Moquegua, Peru', 'Mount Etna, Sicily, Italy',
       'Mount Kelud - Java, Indonesia',
       'Mount Nyiragongo, Democratic Republic of Congo (DRC)',
       'Mount Sinabung - Sumatra, Indonesia', 'Papua New Guinea',
       'Pasto City, Colombia', 'Saint Vincent And The Grenadines',
       'Soufriere Hills, Montserrat', 'Stromboli, Italy',
       'The Democratic Republic of the Congo',
       'Turrialba Volcano, Costa Rica', 'Villarica, Chile',
       'Volcano Chaitén, Chile',
       'Canary Islands, Spain (Gran Canaria and Tenerife)',
       'Mount Japfu, India', 'Portugal', 'Var Region of France',
       'Var region of Southern France'], dtype=object)

In [19]:
df_glide_consolidation['Date'].unique()

array(['2000/10/1', '2001/12/8', '2002/6/8', ..., '2023/8/9', '2000/8/30',
       '2000/1/22'], dtype=object)

In [20]:
df_gdacs_consolidated['Date'].unique()

array(['2020-10-21', '2018-11-21', '2021-01-21', ..., '2022-05-22',
       '2023-07-19', '2024-04-07'], dtype=object)

In [21]:
df_disaster_charter_consolidated['Date'].unique()

array(['2017-11-17', '2019-10-12', '2015-10-31', '2006-02-03',
       '2018-02-18', '2020-05-08', '2004-04-23', '2014-03-11',
       '2021-06-07', '2017-09-18', '2015-10-06', '2019-04-09',
       '2009-05-27', '2019-10-11', '2020-05-18', '2023-11-05',
       '2013-05-15', '2010-09-20', '2014-10-15', '2017-09-05',
       '2017-09-19', '2024-04-11', '2005-10-05', '2023-07-31',
       '2020-11-17', '2023-11-03', '2021-01-27', '2023-12-27',
       '2016-04-19', '2012-12-18', '2016-02-19', '2019-12-31',
       '2020-08-04', '2020-12-15', '2009-12-14', '2004-09-11',
       '2008-10-15', '2015-05-15', '2010-05-30', '2014-07-19',
       '2004-09-21', '2010-11-05', '2012-10-29', '2017-09-07',
       '2023-11-19', '2008-08-30', '2022-12-10', '2014-10-12',
       '2018-12-17', '2019-03-05', '2020-05-19', '2020-11-24',
       '2023-06-13', '2021-06-04', '2012-12-03', '2008-08-29',
       '2019-11-10', '2020-04-09', '2010-02-15', '2014-01-01',
       '2005-09-02', '2008-09-01', '2007-03-23', '2010-03-18',
       '2022-02-25', '2022-04-02', '2023-01-24', '2023-02-21',
       '2023-10-03', '2024-03-29', '2013-02-23', '2012-02-13',
       '2015-01-04', '2010-09-22', '2023-10-25', '2019-03-14',
       '2019-04-25', '2021-01-22', '2022-01-25', '2022-03-13',
       '2023-02-24', '2024-03-14', '2018-08-03', '2005-08-31',
       '2007-09-04', '2003-04-24', '2013-10-12', '2021-03-10',
       '2010-02-11', '2010-06-07', '2023-03-13', '2006-12-01',
       '2009-09-28', '2009-10-02', '2010-10-20', '2018-09-18',
       '2019-02-12', '2021-12-16', '2022-04-13', '2022-09-25',
       '2022-10-29', '2024-11-17', '2012-12-05', '2011-02-02',
       '2014-04-11', '2004-12-01', '2005-02-05', '2022-04-09',
       '2012-12-15', '2023-02-27', '2023-10-23', '2020-08-25',
       '2020-08-31', '2023-08-08', '2009-01-24', '2005-08-27',
       '2005-01-14', '2008-07-23', '2020-02-12', '2009-08-10',
       '2008-09-12', '2022-02-10', '2013-11-08', '2018-12-02',
       '2020-09-04', '2024-08-03', '2017-08-24', '2017-09-06',
       '2018-10-10', '2018-11-09', '2003-09-25', '2011-08-27',
       '2012-11-01', '2015-03-12', '2020-03-04', '2023-03-03',
       '2009-09-29', '2013-10-18', '2013-11-10', '2017-06-11',
       '2020-10-28', '2007-10-03', '2012-12-16', '2010-03-17',
       '2008-05-04', '2015-11-03', '2018-02-06', '2002-10-04',
       '2007-08-21', '2019-03-16', '2015-11-05', '2007-04-03',
       '2015-10-26', '2022-06-22', '2023-08-10', '2009-06-08',
       '2004-02-24', '2003-05-22', '2006-03-21', '2008-11-03',
       '2013-09-24', '2003-12-26', '2001-01-29', '2003-05-07',
       '2013-10-15', '2004-05-18', '2007-04-26', '2007-11-22',
       '2010-02-27', '2015-09-17', '2008-05-12', '2010-04-14',
       '2015-04-25', '2017-08-09', '2021-05-22', '2021-09-16',
       '2022-06-09', '2023-12-19', '2012-09-07', '2009-01-08',
       '2011-01-19', '2016-04-17', '2001-01-15', '2001-02-14',
       '2013-07-22', '2012-11-08', '2010-01-13', '2021-08-14',
       '2002-03-27', '2002-03-28', '2004-04-07', '2005-10-08',
       '2004-12-26', '2007-03-06', '2009-09-30', '2018-06-08',
       '2018-09-29', '2019-09-30', '2021-01-15', '2022-11-22',
       '2004-01-28', '2004-05-28', '2005-02-22', '2017-11-13',
       '2017-12-11', '2011-03-11', '2016-04-14', '2024-02-01',
       '2006-05-27', '2009-09-16', '2009-12-28', '2017-09-20',
       '2023-09-09', '2023-04-11', '2011-02-22', '2012-08-15',
       '2019-09-26', '2004-02-06', '2019-05-26', '2017-02-13',
       '2019-01-11', '2020-08-19', '2022-07-27', '2023-11-18',
       '2007-08-16', '2008-02-05', '2013-04-20', '2011-09-18',
       '2010-01-05', '2017-11-15', '2023-06-02', '2016-02-06',
       '2015-12-07', '2013-02-06', '2010-03-08', '2011-10-24',
       '2014-08-03', '2014-10-09', '2021-07-12', '2022-06-06',
       '2011-05-15', '2016-05-04', '2012-08-13', '2008-04-17',
       '2009-08-30', '2020-09-28', '2024-09-21', '2009-02-12',
       '2019-11-13', '2019-02-09', '2020-09-15', '2019-08-21',
       '2024-07-09', '2003-08-07', '2009-08-05', '2023-10-02',
       '2018-04-06', '2005-08-23', '2013-09-10', '2012-09-16',
       '2003-09-02', '2007-08-29', '2009-08-23', '2018-07-24',
       '2020-04-30', '2024-02-22', '2010-12-02', '2014-07-30',
       '2019-10-16', '2011-04-12', '2017-07-25', '2013-10-17',
       '2019-09-20', '2024-09-16', '2017-05-25', '2021-07-20',
       '2022-08-23', '2024-02-07', '2007-08-27', '2019-05-04',
       '2011-12-30', '2021-07-28', '2018-11-14', '2007-10-23',
       '2015-03-14', '2014-04-14', '2021-04-01', '2023-08-05',
       '2021-12-01', '2008-08-06', '2015-02-27', '2009-05-19',
       '2014-04-29', '2024-05-13', '2010-01-07', '2008-10-04',
       '2009-05-11', '2004-07-02', '2007-03-30', '2014-06-12',
       '2015-08-12', '2015-12-28', '2016-04-07', '2018-03-02',
       '2007-01-17', '2003-12-04', '2024-05-29', '2012-06-29',
       '2011-01-03', '2016-09-26', '2006-04-07', '2014-08-22',
       '2015-09-07', '2017-05-30', '2017-08-15', '2020-07-13',
       '2022-06-17', '2024-05-28', '2024-06-25', '2024-08-27',
       '2007-11-16', '2009-07-10', '2007-02-23', '2008-01-25',
       '2010-01-26', '2014-02-12', '2015-02-25', '2018-08-02',
       '2020-02-25', '2024-06-03', '2007-01-19', '2014-06-14',
       '2015-06-11', '2019-01-13', '2020-01-23', '2021-12-30',
       '2022-02-16', '2022-05-04', '2023-03-28', '2023-06-09',
       '2024-02-29', '2024-04-30', '2012-01-07', '2011-01-14',
       '2003-10-21', '2002-06-18', '2009-11-16', '2014-02-11',
       '2005-06-09', '2011-12-19', '2011-10-12', '2013-10-21',
       '2019-10-17', '2020-08-24', '2010-06-22', '2010-09-24',
       '2017-05-06', '2019-04-19', '2022-09-23', '2024-09-24',
       '2019-11-16', '2003-04-30', '2006-04-01', '2011-04-28',
       '2012-10-10', '2022-10-20', '2024-08-26', '2013-07-25',
       '2008-05-23', '2015-03-25', '2015-08-09', '2017-05-13',
       '2021-06-02', '2023-06-28', '2005-06-22', '2010-06-21',
       '2010-07-19', '2013-08-16', '2007-07-13', '2007-07-19',
       '2014-08-18', '2006-07-27', '2012-07-10', '2010-11-19',
       '2010-12-06', '2011-05-21', '2017-04-01', '2024-05-23',
       '2024-11-14', '2013-09-13', '2010-10-12', '2009-02-27',
       '2010-08-09', '2002-08-17', '2005-05-04', '2013-08-25',
       '2007-08-17', '2018-05-20', '2003-11-27', '2007-10-30',
       '2022-09-20', '2024-05-07', '2024-05-11', '2024-08-05',
       '2013-12-04', '2004-03-31', '2008-02-26', '2012-03-10',
       '2022-01-31', '2023-05-06', '2024-02-20', '2009-11-10',
       '2011-10-19', '2020-02-06', '2012-02-26', '2007-07-24',
       '2007-06-28', '2012-11-27', '2012-12-21', '2014-01-06',
       '2023-11-02', '2005-05-06', '2006-08-16', '2006-11-03',
       '2023-06-20', '2013-08-19', '2012-03-31', '2014-09-18',
       '2006-10-04', '2012-06-24', '2022-09-08', '2002-09-09',
       '2013-12-17', '2024-11-26', '2005-02-01', '2009-09-22',
       '2013-06-02', '2011-10-28', '2023-10-14', '2011-09-04',
       '2024-08-25', '2012-08-31', '2021-07-06', '2021-08-17',
       '2004-05-26', '2008-10-27', '2022-09-19', '2014-04-05',
       '2014-01-21', '2006-04-14', '2010-09-17', '2015-12-02',
       '2018-08-16', '2019-07-17', '2020-07-15', '2020-07-22',
       '2020-08-08', '2021-05-16', '2021-07-02', '2021-07-26',
       '2022-07-14', '2023-07-10', '2023-07-13', '2024-03-09',
       '2007-08-06', '2008-06-10', '2009-03-11', '2006-12-27',
       '2019-03-19', '2020-07-01', '2020-07-16', '2024-10-12',
       '2024-12-05', '2008-06-12', '2019-03-31', '2018-11-25',
       '2019-04-15', '2016-04-15', '2013-01-10', '2013-01-30',
       '2015-03-30', '2011-07-30', '2018-07-07', '2019-08-29',
       '2020-06-07', '2008-11-15', '2010-05-01', '2019-10-31',
       '2006-11-17', '2024-07-18', '2012-08-22', '2024-07-25',
       '2024-08-20', '2004-01-26', '2022-09-28', '2001-05-22',
       '2023-12-09', '2024-06-02', '2013-06-28', '2021-07-15',
       '2012-03-01', '2015-01-18', '2020-01-27', '2022-01-24',
       '2012-09-06', '2008-12-11', '2013-02-01', '2015-01-08',
       '2012-08-08', '2002-06-13', '2024-01-22', '2001-12-31',
       '2007-11-02', '2020-06-11', '2024-09-28', '2021-08-12',
       '2012-05-12', '2024-03-15', '2002-11-28', '2009-02-09',
       '2024-09-13', '2007-02-08', '2011-01-29', '2023-02-16',
       '2013-01-21', '2004-12-03', '2010-06-17', '2010-10-22',
       '2013-08-02', '2015-08-05', '2024-12-09', '2009-03-20',
       '2011-04-01', '2008-03-14', '2020-08-07', '2024-08-07',
       '2024-08-17', '2024-09-29', '2008-04-30', '2001-08-01',
       '2020-09-21', '2012-08-28', '2010-09-09', '2011-08-29',
       '2022-09-15', '2024-11-09', '2009-03-25', '2007-09-21',
       '2014-03-21', '2007-09-19', '2008-07-28', '2014-05-21',
       '2013-11-22', '2009-09-03', '2006-08-11', '2010-05-12',
       '2010-08-01', '2012-09-18', '2014-09-12', '2022-08-30',
       '2007-07-02', '2010-01-21', '2010-12-09', '2020-09-11',
       '2012-04-30', '2019-05-17', '2005-02-11', '2009-03-26',
       '2010-01-28', '2020-02-11', '2020-11-15', '2024-10-23',
       '2013-08-22', '2012-02-21', '2007-11-15', '2015-02-20',
       '2014-07-04', '2005-05-31', '2005-07-15', '2006-04-18',
       '2019-06-27', '2018-04-04', '2018-10-25', '2019-07-24',
       '2019-08-15', '2021-04-08', '2021-04-14', '2021-05-21',
       '2021-06-21', '2021-07-05', '2021-08-13', '2021-12-04',
       '2021-12-05', '2022-08-08', '2023-08-14', '2024-04-04',
       '2024-05-17', '2023-04-05', '2008-11-27', '2022-01-20',
       '2001-03-22', '2009-09-02', '2012-08-27', '2006-11-13',
       '2018-07-05', '2020-04-28', '2021-03-05', '2023-05-24',
       '2023-10-11', '2023-03-27', '2022-05-24', '2022-12-09',
       '2023-09-27', '2020-08-14', '2022-02-09', '2023-07-16',
       '2010-09-14', '2005-09-06', '2014-02-06', '2002-06-28',
       '2024-01-11', '2006-11-02', '2008-11-26', '2014-12-29',
       '2018-05-21', '2021-05-06', '2021-12-11', '2024-02-12',
       '2024-03-06', '2024-11-27', '2024-12-10', '2004-08-11',
       '2006-08-25', '2014-08-05', '2019-08-26', '2020-07-09',
       '2020-08-13', '2021-09-09', '2022-08-21', '2024-08-28',
       '2013-08-06', '2024-05-14', '2006-05-10', '2005-06-27',
       '2005-08-25', '2009-02-10', '2010-10-30', '2011-10-17',
       '2021-09-28', '2022-10-19', '2002-08-20', '2002-08-22',
       '2014-12-04', '2021-07-04', '2008-07-31', '2020-12-10',
       '2021-06-09', '2009-09-10', '2015-08-26', '2022-11-18',
       '2023-06-10', '2007-04-17', '2008-03-20', '2016-08-13',
       '2024-09-10', '2016-01-03', '2016-03-11', '2012-09-24',
       '2007-05-08', '2009-11-26', '2013-06-19', '2012-09-15',
       '2010-12-01', '2018-08-15', '2022-10-10', '2024-10-09',
       '2008-08-15', '2008-11-05', '2009-07-06', '2010-10-07',
       '2013-10-19', '2014-07-18', '2015-07-30', '2017-08-07',
       '2020-10-15', '2007-08-07', '2007-09-14', '2012-08-29',
       '2012-09-25', '2009-01-09', '2013-07-29', '2008-10-28',
       '2020-01-22', '2020-06-03', '2023-01-30', '2008-01-10',
       '2014-02-07', '2011-10-05', '2009-09-07', '2007-04-19',
       '2019-01-05', '2019-01-25', '2022-05-30', '2023-02-20',
       '2010-08-18', '2017-06-24', '2015-05-20', '2023-01-16',
       '2024-07-29', '2023-04-08', '2015-10-07', '2018-08-21',
       '2014-12-15', '2023-07-03', '2002-05-06', '2013-10-16',
       '2019-11-25', '2014-04-15', '2000-11-27', '2020-01-12',
       '2020-03-07', '2002-09-27', '2003-12-21', '2019-08-02',
       '2009-05-14', '2011-07-28', '2023-07-20', '2014-10-30',
       '2006-02-17', '2011-02-14', '2010-03-03', '2018-12-10',
       '2023-08-16', '2010-08-14', '2017-04-26', '2020-12-28',
       '2009-10-05', '2001-03-30', '2006-10-05', '2007-06-01',
       '2007-01-22', '2002-11-14', '2022-04-06', '2023-12-18',
       '2002-10-08', '2010-04-22', '2006-07-30', '2022-12-20',
       '2007-12-12', '2006-08-22', '2023-02-03', '2020-04-06',
       '2024-10-16', '2001-01-26', '2021-04-06', '2024-10-02',
       '2020-02-03', '2024-02-28', '2023-05-17', '2010-02-25',
       '2021-11-24', '2024-07-04', '2010-01-04', '2014-02-10',
       '2013-07-08', '2008-02-08', '2021-05-25', '2021-02-22',
       '2014-04-02', '2010-10-28', '2018-12-23', '2004-12-27',
       '2012-05-21', '2009-04-07', '2011-10-27', '2011-06-07',
       '2013-05-27', '2007-02-19', '2007-04-20', '2009-10-23',
       '2005-12-01', '2008-01-22', '2022-07-01', '2015-07-24',
       '2018-05-06', '2010-04-20', '2010-11-03', '2020-10-11',
       '2022-05-12', '2023-05-12', '2024-04-19', '2024-07-11',
       '2006-04-25', '2015-04-23', '2008-05-02', '2008-07-29',
       '2013-09-19', '2001-07-26', '2014-02-13', '2002-01-21',
       '2013-11-05', '2014-01-07', '2018-01-22', '2004-08-25',
       '2019-07-20', '2018-01-16', '2020-01-13', '2022-06-13',
       '2021-09-04', '2003-07-18', '2003-04-09', '2021-05-23',
       '2022-01-15', '2015-03-03', '2009-02-24', '2023-07-24',
       '2017-01-05', '2004-09-16', '2007-08-02', '2008-03-06',
       '2017-01-24', '2024-03-02', '2014-02-05', '2003-08-04',
       '2015-08-13', '2017-06-12', '2003-07-19', '2005-07-05',
       '2023-02-17', '2023-07-21', '2024-07-30', '2024-05-30'],
      dtype=object)

In [14]:
import pandas as pd
df_gdacs = pd.read_csv('/home/evangelos/src/disaster-impact/data/gdacs_all_types_yearly_v3_fast/combined_gdacs_data.csv')
df_gdacs.columns

Index(['event_id', 'event_type', 'event_name', 'from_date', 'to_date',
       'alert_level', 'countries', 'iso3', 'location', 'population',
       'severity', 'alert_score', 'bbox', 'coordinates', 'year'],
      dtype='object')

In [19]:
df_gdacs.head().iloc[1]

event_id                                      33725
event_type                                       EQ
event_name                       Earthquake in Iran
from_date                       2008-01-19T21:41:33
to_date                         2008-01-19T21:41:33
alert_level                                   Green
countries                                       NaN
iso3                                            NaN
location                                         []
population                                      NaN
severity                                        4.4
alert_score                                       1
bbox           [57.3757, 33.3356, 57.3757, 33.3356]
coordinates                      [57.3757, 33.3356]
year                                           2008
Name: 1, dtype: object

In [26]:
df_gdacs_standard = pd.read_csv('/home/evangelos/src/disaster-impact/data_mid/gdacs_v3/gdacs_standardized_phase1.csv')
df_gdacs_standard.iloc[9389]

Event_ID                                                        NaN
Source_Event_IDs                                        ['1012536']
Event_Name             Drought in Afghanistan, Pakistan, Tajikistan
Event_Type                                                       DR
Country                           Afghanistan, Pakistan, Tajikistan
Country_Code                                          AFG, PAK, TJK
Location                  ['Afghanistan', 'Pakistan', 'Tajikistan']
Latitude                                                   [36.251]
Longitude                                                  [72.755]
Date                                                     2018-08-21
Year                                                           2018
Month                                                             8
Day                                                              21
Time                                                       00:00:00
Severity                                                ['39891.0']
Population_Affected                                             NaN
Fatalities                                                      NaN
People_Displaced                                                NaN
Financial_Loss                                                  NaN
Alert_Level                                              ['Orange']
Source                                                           []
Comments                                                         []
External_Links                                                   []
Name: 9389, dtype: object

In [27]:
df_gdacs_standard.iloc[9392]

Event_ID                                                             NaN
Source_Event_IDs                                             ['1012558']
Event_Name             Drought in Afghanistan, Iran, Pakistan, Tajiki...
Event_Type                                                            DR
Country                                Afghanistan, Pakistan, Tajikistan
Country_Code                                               AFG, PAK, TJK
Location                       ['Afghanistan', 'Pakistan', 'Tajikistan']
Latitude                                                          [34.5]
Longitude                                                         [63.5]
Date                                                          2018-08-21
Year                                                                2018
Month                                                                  8
Day                                                                   21
Time                                                            00:00:00
Severity                                                    ['113210.0']
Population_Affected                                                  NaN
Fatalities                                                           NaN
People_Displaced                                                     NaN
Financial_Loss                                                       NaN
Alert_Level                                                      ['Red']
Source                                                                []
Comments                                                              []
External_Links                                                        []
Name: 9392, dtype: object

In [34]:
df_gdacs_consolidated.head().iloc[3]

Event_ID                           223a601ee5bdd144600257998e7af6ab
Source_Event_IDs                             ['1012536', '1012558']
Event_Name             Drought in Afghanistan, Pakistan, Tajikistan
Event_Type                                                       DR
Country                           Afghanistan, Pakistan, Tajikistan
Country_Code                                          AFG, PAK, TJK
Location                  ['Afghanistan', 'Pakistan', 'Tajikistan']
Latitude                                             [36.251, 34.5]
Longitude                                            [72.755, 63.5]
Date                                                     2018-08-21
Year                                                           2018
Month                                                             8
Day                                                              21
Time                                                       00:00:00
Severity                                    ['39891.0', '113210.0']
Population_Affected                                             NaN
Fatalities                                                      NaN
People_Displaced                                                NaN
Financial_Loss                                                  NaN
Alert_Level                                       ['Orange', 'Red']
Source                                                           []
Comments                                                         []
External_Links                                                   []
Name: 3, dtype: object

In [32]:
df_gdacs_consolidated = pd.read_csv('/home/evangelos/src/disaster-impact/data_out/gdacs/gdacs_consolidated_extend.csv')

In [33]:
df_gdacs_consolidated.head().iloc[1]

Event_ID                     e3a47a70ba67c289eb667c3a7b54e986
Source_Event_IDs                                  ['1012810']
Event_Name             Drought in Afghanistan, Iran, Pakistan
Event_Type                                                 DR
Country                                 Afghanistan, Pakistan
Country_Code                                         AFG, PAK
Location                          ['Afghanistan', 'Pakistan']
Latitude                                             [30.864]
Longitude                                            [62.876]
Date                                               2018-11-21
Year                                                     2018
Month                                                      11
Day                                                        21
Time                                                 00:00:00
Severity                                         ['116622.0']
Population_Affected                                       NaN
Fatalities                                                NaN
People_Displaced                                          NaN
Financial_Loss                                            NaN
Alert_Level                                        ['Orange']
Source                                                     []
Comments                                                   []
External_Links                                             []
Name: 1, dtype: object

In [24]:
df_gdacs_consolidated.head().iloc[3]

Event_ID                           223a601ee5bdd144600257998e7af6ab
Source_Event_IDs                             ['1012536', '1012558']
Event_Name             Drought in Afghanistan, Pakistan, Tajikistan
Event_Type                                                       DR
Country                           Afghanistan, Pakistan, Tajikistan
Country_Code                                          AFG, PAK, TJK
Location                  ['Afghanistan', 'Pakistan', 'Tajikistan']
Latitude                                             [34.5, 36.251]
Longitude                                            [72.755, 63.5]
Date                                                     2018-08-21
Year                                                           2018
Month                                                             8
Day                                                              21
Time                                                       00:00:00
Severity                                    ['113210.0', '39891.0']
Population_Affected                                             NaN
Fatalities                                                      NaN
People_Displaced                                                NaN
Financial_Loss                                                  NaN
Alert_Level                                       ['Orange', 'Red']
Source                                                           []
Comments                                                         []
External_Links                                                   []
Name: 3, dtype: object

In [1]:
import pandas as pd

excel_file_path = '/home/evangelos/src/disaster-impact/data/emdat/emdat/public_emdat_custom_request_2024-11-28_cea79da6-3a0a-4ffe-aae1-8233b597b126.xlsx'
df = pd.read_excel(excel_file_path)

csv_file_path = excel_file_path.replace('.xlsx', '.csv')
df.to_csv(csv_file_path, index=False)

print(f"Excel file has been converted to CSV and saved at {csv_file_path}")

Excel file has been converted to CSV and saved at /home/evangelos/src/disaster-impact/data/emdat/emdat/public_emdat_custom_request_2024-11-28_cea79da6-3a0a-4ffe-aae1-8233b597b126.csv

In [33]:
import json
import pandas as pd

with open('/home/evangelos/src/disaster-impact/data/idmc_idu/idus_all.json', 'r') as file:
    data = json.load(file)

df = pd.json_normalize(data)

csv_file_path = '/home/evangelos/src/disaster-impact/data/idmc_idu/idus_all_flattened.csv'
df.to_csv(csv_file_path, index=False, quoting=1)

print(f"JSON data has been flattened and saved to CSV at {csv_file_path}")

JSON data has been flattened and saved to CSV at /home/evangelos/src/disaster-impact/data/idmc_idu/idus_all_flattened.csv

In [1]:
import json
import pandas as pd

with open('/home/evangelos/src/disaster-impact/data/idmc_idu/idus_all.json', 'r') as file:
    data = json.load(file)

print(type(data[13]))
print(data[13])

<class 'dict'>
{'id': 169900, 'country': 'Sudan', 'iso3': 'SDN', 'latitude': 10.83265, 'longitude': 29.350719, 'centroid': '[10.83265, 29.350719]', 'role': 'Triangulation', 'displacement_type': 'Conflict', 'qualifier': 'approximately', 'figure': 6000, 'displacement_date': '2024-11-25', 'displacement_start_date': '2024-11-24', 'displacement_end_date': '2024-11-25', 'year': 2024, 'event_id': 20686, 'event_name': 'Sudan: Non-International armed conflict (NIAC) - Countrywide - 01/01/2024', 'event_codes': 'CE-2023-000066-SDN; MDRSD033', 'event_code_types': 'Glide Number; IFRC Appeal ID', 'event_start_date': '2024-01-01', 'event_end_date': '2024-12-31', 'category': None, 'subcategory': None, 'type': None, 'subtype': None, 'standard_popup_text': '<b> Sudan:            6,000 displacements, 24 November  - 25 November  </b> <br> According to IOM Displacement Tracking Matrix (IOM DTM), approximately 1200 households were displaced in Keilak due to non-international armed conflict (niac) on 24 November <br> <a href="https://mailchi.mp/iom/dtm-sudan-flash-alert-conflict-in-keilak-kharsana-west-kordofan-update-002?e=b699c75958"target="_blank">IOM Displacement Tracking Matrix (IOM DTM) - 26 November  2024</a>', 'standard_info_text': '<b> Sudan:            6,000 displacements, 24 November  - 25 November  </b>', 'old_id': None, 'sources': 'IOM Displacement Tracking Matrix (IOM DTM)', 'source_url': 'https://mailchi.mp/iom/dtm-sudan-flash-alert-conflict-in-keilak-kharsana-west-kordofan-update-002?e=b699c75958', 'locations_name': 'Keilak, Lagawa, West Kurdufan, Sudan', 'locations_coordinates': '10.83265, 29.350719', 'locations_accuracy': 'County/City/town/Village/Woreda (ADM3)', 'locations_type': 'Origin', 'displacement_occurred': 'Displacement without preventive evacuations reported', 'created_at': '2024-11-27T13:36:39.025390Z'}

In [2]:
import pandas as pd 

df_glide_raw = pd.read_csv('/home/evangelos/src/disaster-impact/data/glide/glide_data_combined_all.csv')

df_glide_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8314 entries, 0 to 8313
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   GLIDE_number  8314 non-null   object
 1   Event         8314 non-null   object
 2   Country       8314 non-null   object
 3   Date_         8314 non-null   object
 4   Event_Code    8314 non-null   object
 5   Glide_Serial  8314 non-null   object
 6   Country_Code  8314 non-null   object
 7   Year          8314 non-null   int64
 8   Month         8314 non-null   int64
 9   Day           8314 non-null   int64
 10  Time          184 non-null    object
 11  Location      4992 non-null   object
 12  Duration      818 non-null    float64
 13  Magnitude     1910 non-null   object
 14  Source        5084 non-null   object
 15  Comments      8020 non-null   object
 16  Latitude      8313 non-null   float64
 17  Longitude     8313 non-null   float64
 18  Id            0 non-null      float64
 19  Id_Source     0 non-null      float64
 20  Created       6928 non-null   object
 21  Updated       6627 non-null   object
dtypes: float64(5), int64(3), object(14)
memory usage: 1.4+ MB

In [3]:
df_glide_raw.iloc[1700]

GLIDE_number                                   EP-2018-000040-COD
Event                                                    Epidemic
Country                                 Congo Democratic Republic
Date_                                                   2018/2/13
Event_Code                                                     EP
Glide_Serial                                          2018-000040
Country_Code                                                  COD
Year                                                         2018
Month                                                           2
Day                                                            13
Time                                                          NaN
Location                                              Haut lomami
Duration                                                      NaN
Magnitude                                                     NaN
Source                                                        NaN
Comments        On 13 February 2018, the DRC Minister of Publi...
Latitude                                                -7.705275
Longitude                                               24.904221
Id                                                            NaN
Id_Source                                                     NaN
Created                                                       NaN
Updated                                                       NaN
Name: 1700, dtype: object

In [4]:
df_gdacs_raw = pd.read_csv('/home/evangelos/src/disaster-impact/data/gdacs_all_types_yearly_v3_fast/combined_gdacs_data.csv')

df_gdacs_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42454 entries, 0 to 42453
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   event_id     42454 non-null  int64
 1   event_type   42454 non-null  object
 2   event_name   42454 non-null  object
 3   from_date    42454 non-null  object
 4   to_date      42454 non-null  object
 5   alert_level  42454 non-null  object
 6   countries    34354 non-null  object
 7   iso3         34354 non-null  object
 8   location     42454 non-null  object
 9   population   0 non-null      float64
 10  severity     42454 non-null  float64
 11  alert_score  42454 non-null  int64
 12  bbox         42454 non-null  object
 13  coordinates  42454 non-null  object
 14  year         42454 non-null  int64
dtypes: float64(2), int64(3), object(10)
memory usage: 4.9+ MB

In [5]:
df_gdacs_raw.iloc[0]

event_id                                      33726
event_type                                       EQ
event_name              Earthquake in United States
from_date                       2008-01-19T23:13:05
to_date                         2008-01-19T23:13:05
alert_level                                   Green
countries                             United States
iso3                                            USA
location                          ['United States']
population                                      NaN
severity                                        4.7
alert_score                                       1
bbox           [-122.759, 40.125, -122.759, 40.125]
coordinates                      [-122.759, 40.125]
year                                           2008
Name: 0, dtype: object

In [6]:
df_disaster_charter_raw = pd.read_csv('/home/evangelos/src/disaster-impact/data/disaster-charter/disaster_activations_boosted_dec.csv')

df_disaster_charter_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906 entries, 0 to 905
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                906 non-null    int64
 1   Month               906 non-null    object
 2   Date                906 non-null    object
 3   Disaster            906 non-null    object
 4   Formatted Date      906 non-null    object
 5   Details Link        906 non-null    object
 6   Type of Event       861 non-null    object
 7   Location of Event   905 non-null    object
 8   Date of Activation  905 non-null    object
 9   Time of Activation  463 non-null    object
 10  Timezone            463 non-null    object
 11  Charter Requestor   905 non-null    object
 12  Activation ID       405 non-null    float64
 13  Project Management  881 non-null    object
 14  Value Adding        122 non-null    object
dtypes: float64(1), int64(1), object(13)
memory usage: 106.3+ KB

In [7]:
df_disaster_charter_raw.iloc[0]

Year                                                               2024
Month                                                          December
Date                                                         2024-12-10
Disaster                                             Flood in Indonesia
Formatted Date                                               10 Tuesday
Details Link          https://disasterscharter.org/web/guest/activat...
Type of Event                                                     Flood
Location of Event                                             Indonesia
Date of Activation                                           2024-12-10
Time of Activation                                                17:46
Timezone                                                      UTC+09:00
Charter Requestor                                ADRC on behalf of BRIN
Activation ID                                                     934.0
Project Management    Agung Dwi Wijaya (National Research and Innova...
Value Adding          Yenni Vetrita (National Research and Innovatio...
Name: 0, dtype: object

In [2]:
import pandas as pd
df_emdat_raw = pd.read_csv('/home/evangelos/src/disaster-impact/data/emdat/emdat/public_emdat_custom_request_2024-11-28_cea79da6-3a0a-4ffe-aae1-8233b597b126.csv')

df_emdat_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10200 entries, 0 to 10199
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     10200 non-null  object
 1   Historic                                   10200 non-null  object
 2   Classification Key                         10200 non-null  object
 3   Disaster Group                             10200 non-null  object
 4   Disaster Subgroup                          10200 non-null  object
 5   Disaster Type                              10200 non-null  object
 6   Disaster Subtype                           10200 non-null  object
 7   External IDs                               2457 non-null   object
 8   Event Name                                 2485 non-null   object
 9   ISO                                        10200 non-null  object
 10  Country                                    10200 non-null  object
 11  Subregion                                  10200 non-null  object
 12  Region                                     10200 non-null  object
 13  Location                                   9809 non-null   object
 14  Origin                                     3857 non-null   object
 15  Associated Types                           3323 non-null   object
 16  OFDA/BHA Response                          10200 non-null  object
 17  Appeal                                     10200 non-null  object
 18  Declaration                                10200 non-null  object
 19  AID Contribution ('000 US$)                481 non-null    float64
 20  Magnitude                                  3307 non-null   float64
 21  Magnitude Scale                            9128 non-null   object
 22  Latitude                                   1819 non-null   float64
 23  Longitude                                  1819 non-null   float64
 24  River Basin                                1201 non-null   object
 25  Start Year                                 10200 non-null  int64
 26  Start Month                                10132 non-null  float64
 27  Start Day                                  8698 non-null   float64
 28  End Year                                   10200 non-null  int64
 29  End Month                                  10038 non-null  float64
 30  End Day                                    8762 non-null   float64
 31  Total Deaths                               7281 non-null   float64
 32  No. Injured                                2870 non-null   float64
 33  No. Affected                               6738 non-null   float64
 34  No. Homeless                               1221 non-null   float64
 35  Total Affected                             8247 non-null   float64
 36  Reconstruction Costs ('000 US$)            31 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  31 non-null     float64
 38  Insured Damage ('000 US$)                  705 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        692 non-null    float64
 40  Total Damage ('000 US$)                    3120 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          3076 non-null   float64
 42  CPI                                        9889 non-null   float64
 43  Admin Units                                8437 non-null   object
 44  Entry Date                                 10200 non-null  object
 45  Last Update                                10200 non-null  object
dtypes: float64(20), int64(2), object(24)
memory usage: 3.6+ MB

In [3]:
df_emdat_raw.iloc[0]

DisNo.                                                                           1999-9388-DJI
Historic                                                                                    No
Classification Key                                                             nat-cli-dro-dro
Disaster Group                                                                         Natural
Disaster Subgroup                                                               Climatological
Disaster Type                                                                          Drought
Disaster Subtype                                                                       Drought
External IDs                                                                               NaN
Event Name                                                                                 NaN
ISO                                                                                        DJI
Country                                                                               Djibouti
Subregion                                                                   Sub-Saharan Africa
Region                                                                                  Africa
Location                                     Ali Sabieh, Dikhil, Djibouti, Obock, Tadjourah...
Origin                                                                                     NaN
Associated Types                                                                           NaN
OFDA/BHA Response                                                                          Yes
Appeal                                                                                      No
Declaration                                                                                 No
AID Contribution ('000 US$)                                                             1556.0
Magnitude                                                                                  NaN
Magnitude Scale                                                                            Km2
Latitude                                                                                   NaN
Longitude                                                                                  NaN
River Basin                                                                                NaN
Start Year                                                                                2001
Start Month                                                                                6.0
Start Day                                                                                  NaN
End Year                                                                                  2001
End Month                                                                                  NaN
End Day                                                                                    NaN
Total Deaths                                                                               NaN
No. Injured                                                                                NaN
No. Affected                                                                          100000.0
No. Homeless                                                                               NaN
Total Affected                                                                        100000.0
Reconstruction Costs ('000 US$)                                                            NaN
Reconstruction Costs, Adjusted ('000 US$)                                                  NaN
Insured Damage ('000 US$)                                                                  NaN
Insured Damage, Adjusted ('000 US$)                                                        NaN
Total Damage ('000 US$)                                                                    NaN
Total Damage, Adjusted ('000 US$)                                                          NaN
CPI                                                                                  58.111474
Admin Units                                  [{"adm1_code":1093,"adm1_name":"Ali Sabieh"},{...
Entry Date                                                                          2006-03-01
Last Update                                                                         2023-09-25
Name: 0, dtype: object

In [4]:
df_emdat_mid = pd.read_csv('/home/evangelos/src/disaster-impact/data_mid/emdat/cleaned_inspection/emdat_cleaned.csv')
df_emdat_mid.iloc[0]

Source_Event_IDs                                       ['1999-9388-DJI']
Event_Name                                                            []
Event_Type                                                   ['Drought']
Country                                                     ['Djibouti']
Country_Code                                                     ['DJI']
Location               ['Ali Sabieh, Dikhil, Djibouti, Obock, Tadjour...
Latitude                                                              []
Longitude                                                             []
Date                                                                2001
Year                                                                 NaN
Month                                                                6.0
Day                                                                  NaN
Severity                                                              []
Population_Affected                                             100000.0
Fatalities                                                           NaN
People_Displaced                                                     NaN
Financial_Loss                                                       NaN
AID_Contribution                                                  1556.0
Admin_Units            ['[{"adm1_code":1093,"adm1_name":"Ali Sabieh"}...
External_IDs                                                          []
Name: 0, dtype: object

In [10]:
df_idmc_raw = pd.read_csv('/home/evangelos/src/disaster-impact/data/idmc_idu/idus_all_flattened.csv')

df_idmc_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35116 entries, 0 to 35115
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       35116 non-null  int64
 1   country                  35116 non-null  object
 2   iso3                     35116 non-null  object
 3   latitude                 35066 non-null  float64
 4   longitude                35066 non-null  float64
 5   centroid                 35066 non-null  object
 6   role                     35116 non-null  object
 7   displacement_type        35116 non-null  object
 8   qualifier                35116 non-null  object
 9   figure                   35116 non-null  int64
 10  displacement_date        35116 non-null  object
 11  displacement_start_date  35116 non-null  object
 12  displacement_end_date    35116 non-null  object
 13  year                     35116 non-null  int64
 14  event_id                 35116 non-null  int64
 15  event_name               35116 non-null  object
 16  event_codes              4464 non-null   object
 17  event_code_types         4464 non-null   object
 18  event_start_date         35116 non-null  object
 19  event_end_date           35116 non-null  object
 20  category                 21158 non-null  object
 21  subcategory              21158 non-null  object
 22  type                     21158 non-null  object
 23  subtype                  21158 non-null  object
 24  standard_popup_text      35116 non-null  object
 25  standard_info_text       35116 non-null  object
 26  old_id                   13262 non-null  float64
 27  sources                  35037 non-null  object
 28  source_url               35116 non-null  object
 29  locations_name           35066 non-null  object
 30  locations_coordinates    35066 non-null  object
 31  locations_accuracy       35066 non-null  object
 32  locations_type           35066 non-null  object
 33  displacement_occurred    26589 non-null  object
 34  created_at               35116 non-null  object
dtypes: float64(3), int64(4), object(28)
memory usage: 9.4+ MB

In [11]:
df_idmc_raw.iloc[0]

id                                                                    169899
country                                                              Ukraine
iso3                                                                     UKR
latitude                                                            47.96067
longitude                                                          37.834438
centroid                                               [47.96067, 37.834438]
role                                                      Recommended figure
displacement_type                                                   Conflict
qualifier                                                              total
figure                                                                   313
displacement_date                                                 2024-11-27
displacement_start_date                                           2024-11-27
displacement_end_date                                             2024-11-27
year                                                                    2024
event_id                                                               22790
event_name                 Ukraine: International armed conflict (IAC) - ...
event_codes                                                              NaN
event_code_types                                                         NaN
event_start_date                                                  2024-01-01
event_end_date                                                    2024-12-31
category                                                                 NaN
subcategory                                                              NaN
type                                                                     NaN
subtype                                                                  NaN
standard_popup_text        <b> Ukraine:              313 displacements (e...
standard_info_text         <b> Ukraine:              313 displacements (e...
old_id                                                                   NaN
sources                                           National Police of Ukraine
source_url                 https://www.npu.gov.ua/news/rosiiany-poranyly-...
locations_name                                       Donetsk Oblast, Ukraine
locations_coordinates                                    47.96067, 37.834438
locations_accuracy                              State/Region/Province (ADM1)
locations_type                                                        Origin
displacement_occurred      Displacement without preventive evacuations re...
created_at                                       2024-11-27T13:29:41.965583Z
Name: 0, dtype: object

In [12]:
df_cerf_raw = pd.read_csv('/home/evangelos/src/disaster-impact/data/cerf/cerf_emergency_data_dynamic_web_scrape.csv')

df_cerf_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8012 entries, 0 to 8011
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   link_id                    8012 non-null   int64
 1   allocation_code            8012 non-null   object
 2   allocation                 8012 non-null   object
 3   emergency_type             8012 non-null   object
 4   agency                     8012 non-null   object
 5   country                    8012 non-null   object
 6   project_code               8012 non-null   object
 7   project_description        8012 non-null   object
 8   window                     8012 non-null   object
 9   sector                     8012 non-null   object
 10  approved_amount            8012 non-null   int64
 11  approval_date              8011 non-null   object
 12  disbursement_date          8005 non-null   object
 13  groups_targeted            0 non-null      float64
 14  number_of_people_targeted  0 non-null      float64
 15  implementation_dates       0 non-null      float64
dtypes: float64(3), int64(2), object(11)
memory usage: 1001.6+ KB

In [13]:
df_cerf_raw.iloc[0]

link_id                                                                     16
allocation_code                                                 06-RR-CAF-1057
allocation                              06-RR-CAF-1057_CAR_Jun2016_Application
emergency_type                                                    Displacement
agency                           United Nations High Commissioner for Refugees
country                                               Central African Republic
project_code                                                        06-HCR-147
project_description          Life-saving protection activities for the inte...
window                                                          Rapid Response
sector                                                            Multi-Sector
approved_amount                                                         150000
approval_date                                                       31/07/2006
disbursement_date                                                   13/09/2006
groups_targeted                                                            NaN
number_of_people_targeted                                                  NaN
implementation_dates                                                       NaN
Name: 0, dtype: object

In [15]:
df_ifrc_raw = pd.read_csv('/home/evangelos/src/disaster-impact/data/IFRC_eme/IFRC_emergencies.csv', on_bad_lines='skip')

df_ifrc_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4225 entries, 0 to 4224
Data columns (total 26 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   appeals.id                                  3379 non-null   object
 1   auto_generated                              4225 non-null   bool
 2   countries.id                                3875 non-null   object
 3   countries.iso                               3854 non-null   object
 4   countries.iso3                              3870 non-null   object
 5   countries.name                              3875 non-null   object
 6   countries.society_name                      3874 non-null   object
 7   created_at                                  4225 non-null   object
 8   disaster_start_date                         4225 non-null   object
 9   dtype.id                                    4225 non-null   int64
 10  dtype.name                                  4225 non-null   object
 11  dtype.summary                               0 non-null      float64
 12  dtype.translation_module_original_language  4225 non-null   object
 13  field_reports.id                            1119 non-null   object
 14  glide                                       68 non-null     object
 15  id                                          4225 non-null   int64
 16  ifrc_severity_level                         4225 non-null   int64
 17  ifrc_severity_level_display                 4225 non-null   object
 18  is_featured                                 4225 non-null   bool
 19  is_featured_region                          4225 non-null   bool
 20  name                                        4225 non-null   object
 21  num_affected                                55 non-null     float64
 22  parent_event                                0 non-null      float64
 23  slug                                        3 non-null      object
 24  summary                                     818 non-null    object
 25  updated_at                                  4225 non-null   object
dtypes: bool(3), float64(3), int64(3), object(17)
memory usage: 771.7+ KB

In [16]:
df_ifrc_raw.iloc[0]

appeals.id                                                                                  NaN
auto_generated                                                                             True
countries.id                                                                                111
countries.iso                                                                                MY
countries.iso3                                                                              MYS
countries.name                                                                         Malaysia
countries.society_name                                           Malaysian Red Crescent Society
created_at                                                          2024-11-28T00:22:37.230120Z
disaster_start_date                                                        2024-11-27T00:00:00Z
dtype.id                                                                                     12
dtype.name                                                                                Flood
dtype.summary                                                                               NaN
dtype.translation_module_original_language                                                   en
field_reports.id                                                                          17392
glide                                                                                       NaN
id                                                                                         7249
ifrc_severity_level                                                                           0
ifrc_severity_level_display                                                              Yellow
is_featured                                                                               False
is_featured_region                                                                        False
name                                          MYS: Flood - 11-2024 - East Coast Monsoon Floo...
num_affected                                                                                NaN
parent_event                                                                                NaN
slug                                                                                        NaN
summary                                       <p>The <span style="font-size: 10.5pt; font-fa...
updated_at                                                          2024-11-28T00:22:37.230126Z
Name: 0, dtype: object