Notebook: Exploration of csv files

In [30]:
"""Exploration notebook for data analysis.

This notebook contains data exploration steps for disaster analysis.
"""

from pathlib import Path

import pandas as pd
from IPython.display import display

In [31]:
def read_dat(dat_file: str) -> pd:
    """Reads a CSV file from the data_prep directory."""
    dat_dir = Path("../data_prep/").resolve()
    dat_path = dat_dir / dat_file
    return pd.read_csv(dat_path)

In [32]:
glide_prep_df = read_dat("glide_prep.csv")
gdacs_prep_df = read_dat("gdacs_prep.csv")
emdat_prep_df = read_dat("emdat_prep.csv")
disaster_charter_df = read_dat("disaster_charter_prep.csv")
cerf_df = read_dat("cerf_prep.csv")
idmc_df = read_dat("idmc_prep.csv")
ifrc_df = read_dat("ifrc_prep.csv")

In [33]:
pre_dfs = [
    glide_prep_df,
    gdacs_prep_df,
    emdat_prep_df,
    disaster_charter_df,
    cerf_df,
    idmc_df,
    ifrc_df,
]

for df in pre_dfs:
    display(df.head())

,Source_Event_IDs,Event_Name,Event_Type,Event_Code,Country,Country_Code,Location,Latitude,Longitude,Date,Year,Month,Day,Time,Severity,Source,Comments
0,TC-2024-000219-LKA,Tropical Cyclone,TC,TC,Sri Lanka,LKA,"Ampara, Batticaloa, Jaffna, Mannar , Kilinochc...",8.311352,80.403651,2024-11-23,2024,11,23,NaN,NaN,Sri Lanka Red Cross Society and Sri Lanka's Di...,The deep depression in the Bay of Bengal condi...
1,FL-2024-000218-MYS,Flood,FL,FL,Malaysia,MYS,"Kelantan, Terengganu, Kedah, Perlis, Johor, an...",5.093634,102.989615,2024-11-25,2024,11,25,NaN,NaN,"Malaysian Red Crescent Society, Official Stati...",The Northeast Monsoon (MTL) began in early Nov...
2,FL-2024-000217-THA,Flood,FL,FL,Thailand,THA,"Satun, Surat Thani, Nakhon Si Thammarat, Songk...",6.202025,101.252379,2024-11-26,2024,11,26,NaN,NaN,AHA Centre,Continuous heavy rains brought by the northeas...
3,FL-2024-000216-DOM,Flood,FL,FL,Dominican Republic,DOM,NaN,18.735693,-70.162651,2024-11-14,2024,11,14,NaN,NaN,IFRC,"As of 14 November, rainfall models predict 60-..."
4,FL-2024-000215-CRI,Flood,FL,FL,Costa Rica,CRI,NaN,9.748917,-83.753428,2024-11-07,2024,11,7,NaN,NaN,IFRC,"On 7 November 2024, the National Meteorologica..."

,Source_Event_IDs,Event_Name,Event_Type,Event_Code,Country,Country_Code,Location,Latitude,Longitude,Date,Year,Severity,Population_Affected,Alert_Level,End_Date
0,4216,Earthquake in Afghanistan,EQ,EQ,Afghanistan,AFG,['Afghanistan'],36.200,70.400,2000-01-19,2000,6.40,NaN,Red,2000-01-19
1,4206,Earthquake in Iran,EQ,EQ,Iran,IRN,[],35.217,58.175,2000-02-14,2000,4.90,NaN,Green,2000-02-14
2,4273,Earthquake in Iran,EQ,EQ,Iran,IRN,[],35.288,58.218,2000-02-03,2000,5.30,NaN,Green,2000-02-03
3,1583,Flood in Mozambique,FL,FL,Mozambique,MOZ,['Mozambique'],-27.822,31.712,2000-01-26,2000,7.74,NaN,ORANGE,2000-03-27
4,1587,Flood in Madagascar,FL,FL,Madagascar,MDG,['Madagascar'],-15.783,47.296,2000-02-17,2000,6.79,NaN,RED,2000-03-11

,Source_Event_IDs,Event_Name,Event_Type,Event_Code,Country,Country_Code,Location,Latitude,Longitude,Date,...,Month,Day,Severity,Population_Affected,Fatalities,People_Displaced,Financial_Loss,AID_Contribution,Admin_Units,External_IDs
0,1999-9388-DJI,NaN,Drought,DR,Djibouti,DJI,"Ali Sabieh, Dikhil, Djibouti, Obock, Tadjourah...",NaN,NaN,2001-06-01,...,6.0,NaN,NaN,100000.0,NaN,NaN,NaN,1556.0,"[{""adm1_code"":1093,""adm1_name"":""Ali Sabieh""},{...",NaN
1,1999-9388-SDN,NaN,Drought,DR,Sudan,SDN,"Northern Darfur, Northern Kordofan, Red Sea pr...",NaN,NaN,2000-01-01,...,1.0,NaN,NaN,2000000.0,NaN,NaN,NaN,NaN,"[{""adm1_code"":2757,""adm1_name"":""Northern Darfu...",NaN
2,1999-9388-SOM,NaN,Drought,DR,Somalia,SOM,"Ceel Barde, Rab Dhuure, Tayeeglow, Xudur distr...",NaN,NaN,2000-01-01,...,1.0,NaN,NaN,1200000.0,21.0,NaN,NaN,NaN,"[{""adm1_code"":2691,""adm1_name"":""Bay""},{""adm1_c...",NaN
3,2000-0002-AGO,NaN,Flood,FL,Angola,AGO,"Dombre Grande village (Baia Farta district, Be...",NaN,NaN,2000-01-08,...,1.0,8.0,47000.0,70000.0,31.0,NaN,10000.0,NaN,"[{""adm2_code"":4214,""adm2_name"":""Baia Farta""},{...",NaN
4,2000-0003-BGD,NaN,Extreme temperature,HW/CW,Bangladesh,BGD,"Barisal, Chittagong, Dhaka, Khulna, Rajshahi, ...",NaN,NaN,2000-01-01,...,1.0,NaN,6.4,NaN,49.0,NaN,NaN,NaN,"[{""adm1_code"":575,""adm1_name"":""Barisal""},{""adm...",NaN

,Source_Event_IDs,Event_Name,Event_Type,Event_Code,Country,Date,Year,Month,Time,External_Links
0,922.0,Oil spill in Samoa,Oil spill,Oil spill,Samoa,2024-10-16,2024,October,18:09,https://disasterscharter.org/web/guest/activat...
1,921.0,Flood in Sri Lanka,Flood,FL,Sri Lanka,2024-10-12,2024,October,12:20,https://disasterscharter.org/web/guest/activat...
2,920.0,Hurricane Milton in the United States,Flood,FL,United States,2024-10-09,2024,October,12:42,https://disasterscharter.org/web/guest/activat...
3,919.0,Flood in Nepal,Flood,FL,Nepal,2024-09-29,2024,September,12:27,https://disasterscharter.org/web/guest/activat...
4,918.0,Hurricane John in Mexico,Flood,FL,Mexico,2024-09-28,2024,September,12:02,https://disasterscharter.org/web/guest/activat...

,Source_Event_IDs,Event_Type,Event_Code,Country,Country_Code,Date,Source,Comments,AID_Contribution,Disbursement_Date
0,06-RR-CAF-1057,Displacement,Displacement,Central African Republic,CAF,2006-07-31,United Nations High Commissioner for Refugees,Life-saving protection activities for the inte...,150000,13/09/2006
1,06-RR-CAF-1057,Displacement,Displacement,Central African Republic,CAF,2006-07-28,United Nations Children’s Fund,Emergency life saving assistance to the IDPs i...,369750,09/08/2006
2,06-RR-CAF-1057,Displacement,Displacement,Central African Republic,CAF,2006-07-28,United Nations Children’s Fund,Life-saving protection activities for IDPs in ...,80250,09/08/2006
3,06-RR-CAF-1057,Displacement,Displacement,Central African Republic,CAF,2006-07-28,World Food Programme,Assistance to the longstanding affected popula...,1200000,24/08/2006
4,06-RR-TCD-1755,Displacement,Displacement,Chad,TCD,2006-06-23,Food and Agriculture Organization,Emergency assistance to 10000 IDPs in eastern ...,269333,14/08/2006

,Source_Event_IDs,Event_Name,Event_Type,Event_Code,Country,Country_Code,Location,Latitude,Longitude,Date,Year,Population_Affected,Source,Comments,External_Links,External_IDs
0,22790,Ukraine: International armed conflict (IAC) - ...,Conflict,Conflict,Ukraine,UKR,"Donetsk Oblast, Ukraine",47.960670,37.834438,2024-11-27,2024,313,National Police of Ukraine,<b> Ukraine: 313 displacements (e...,https://www.npu.gov.ua/news/rosiiany-poranyly-...,NaN
1,28233,Argentina: Storm - Corrientes (Esquina) - 27/1...,Disaster,UNSPECIFIED,Argentina,ARG,"Esquina, Departamento Esquina, Corrientes, Arg...",-29.953430,-59.276020,2024-11-27,2024,2,Local Authorities,<b> Argentina: 2 displacements ...,https://www.radiodos.com.ar/179749-esquina-mas...,NaN
2,20827,Ukraine: International armed conflict (IAC) -...,Conflict,Conflict,Ukraine,UKR,"Borivske, Shevchenkove Raion, Kharkiv Oblast, ...",49.674641,37.476654,2024-11-27,2024,64,Regional Government,<b> Ukraine: 64 displacements (e...,https://t.me/synegubov/12250,NaN
3,22790,Ukraine: International armed conflict (IAC) - ...,Conflict,Conflict,Ukraine,UKR,"Donetsk Oblast, Ukraine",47.960670,37.834438,2024-11-26,2024,162,National Police of Ukraine,<b> Ukraine: 162 displacements (e...,https://www.npu.gov.ua/news/ye-zahyblyi-i-pora...,NaN
4,20827,Ukraine: International armed conflict (IAC) -...,Conflict,Conflict,Ukraine,UKR,"Borivske, Shevchenkove Raion, Kharkiv Oblast, ...",49.674641,37.476654,2024-11-26,2024,51,Regional Government,<b> Ukraine: 51 displacements (e...,https://t.me/synegubov/12239,NaN

,Source_Event_IDs,Event_Name,Event_Type,Event_Code,Country,Country_Code,Date,Severity,Population_Affected,Comments,External_IDs
0,7249,MYS: Flood - 11-2024 - East Coast Monsoon Floo...,Flood,FL,Malaysia,MYS,2024-11-27,Yellow,NaN,"<p>The <span style=""font-size: 10.5pt; font-fa...",NaN
1,7247,LTU: Transport Accident - 11-2024 - Cargo flig...,Transport Accident,Transport Accident,Lithuania,LTU,2024-11-25,Yellow,NaN,"<p>Around 4 AM local time on 25 November 2024,...",NaN
2,7245,TZA: Flood - 11-2024 - TANZANIA TARIME FLOODS,Flood,FL,Tanzania,TZA,2024-11-24,Yellow,NaN,<p>Tragic news from Tarime District in the Mar...,NaN
3,7245,TZA: Flood - 11-2024 - TANZANIA TARIME FLOODS,Flood,FL,United Republic of,NaN,2024-11-24,Yellow,NaN,<p>Tragic news from Tarime District in the Mar...,NaN
4,7243,TTO: Pluvial/Flash Flood - 11-2024 - Intense l...,Pluvial/Flash Flood,FL,Trinidad and Tobago,TTO,2024-11-23,Yellow,NaN,"<p>On Saturday 23rd November 2024, around 11am...",NaN